Repository docker/compose-cli, pull requests merged in 2020-12, with the labels that each got.

#995 introduce `compose push` command
  aci/compose.go
  api/client/compose.go
  api/compose/api.go
  cli/cmd/compose/compose.go
  cli/cmd/compose/push.go
  ecs/local/compose.go
  ecs/up.go
  example/backend.go
  go.mod
  go.sum
  local/compose.go
Labels: aci, api, cli, ecs, local

#991 Compose network error
  local/compose.go
  local/convergence.go
Labels: local

#999 Add compose build flags for file and working dir
  cli/cmd/compose/build.go
  local/e2e/compose_test.go
Labels: cli, local

#1001 If compose file has a build section and no image name, build image with the right derived image tag
  local/build.go
Labels: local

#968 Add order to down command
  cli/cmd/compose/up.go
  local/compose.go
  local/dependencies.go
  local/dependencies_test.go
  local/labels.go
  progress/event.go
Labels: cli, local

#1000 In `compose down` progress display: prefix container names with “Container”,
  local/compose.go
Labels: local

#1005 Implement `docker compose pull`
  aci/compose.go
  api/client/compose.go
  api/compose/api.go
  cli/cmd/compose/compose.go
  cli/cmd/compose/pull.go
  ecs/local/compose.go
  ecs/up.go
  example/backend.go
  local/compose.go
  progress/event.go
  progress/tty.go
  progress/tty_test.go
Labels: aci, api, cli, ecs, local

#998 Attach to container on `up` and pipe logs to stdout
  aci/compose.go
  api/client/compose.go
  api/compose/api.go
  cli/cmd/compose/up.go
  ecs/local/compose.go
  ecs/logs.go
  ecs/up.go
  example/backend.go
  formatter/logs.go
  local/compose.go
  local/container.go
  local/containers.go
  local/convergence.go
  local/e2e/compose_test.go
  progress/event.go
Labels: aci, api, cli, ecs, local

#1006 Fix service initial status in graph, in order to fix compose down duplicate removal of container
  local/dependencies.go
Labels: local

#1010 Give progress its own context
  local/build.go
Labels: local

#1009 Compose fix relative volume
  local/compose.go
  local/compose_test.go
  local/e2e/compose_test.go
  local/e2e/volume-test/docker-compose.yml
  local/e2e/volume-test/static/index.html
Labels: local

#1013 Fix compose up build when no image name in compose file
  local/build.go
  local/compose.go
  local/e2e/compose_test.go
  local/e2e/volume-test/docker-compose.yml
  local/e2e/volume-test/nginx-build/Dockerfile
Labels: local

#1016 Remove flakyness in compose e2e test : can’t count networks as we have several compose stacks start in //
  local/e2e/compose_test.go
Labels: local

#1017 Remove stopped containers on `down`
  local/compose.go
Labels: local

#1018 `compose up` and other compose commands running on “Moby” context type.
  .github/workflows/ci.yml
  Makefile
  api/client/client.go
  cli/cmd/compose/build.go
  cli/cmd/compose/compose.go
  cli/cmd/compose/convert.go
  cli/cmd/compose/down.go
  cli/cmd/compose/list.go
  cli/cmd/compose/logs.go
  cli/cmd/compose/ps.go
  cli/cmd/compose/pull.go
  cli/cmd/compose/push.go
  cli/cmd/compose/up.go
  local/backend.go
  local/build.go
  local/compose.go
  local/compose_test.go
  local/container.go
  local/containers.go
  local/convergence.go
  local/convert.go
  local/convert_test.go
  local/dependencies.go
  local/dependencies_test.go
  local/e2e/compose_test.go
  local/labels.go
  local/util.go
  local/volumes.go
  tests/e2e/e2e_test.go
Labels: api, ci, cli, local

#1015 Revisit logs/up API to pass a LogConsumer vs io.Writer
  aci/compose.go
  api/client/compose.go
  api/compose/api.go
  cli/cmd/compose/logs.go
  cli/cmd/compose/up.go
  ecs/local/compose.go
  ecs/logs.go
  ecs/up.go
  example/backend.go
  formatter/logs.go
  local/compose.go
Labels: aci, api, cli, ecs, local

#1020 Add a disclaimer message for all `docker compose` commands
  cli/cmd/compose/compose.go
Labels: cli

#1024 Fix volume ensure when creating local volume before running services
  local/compose.go
  local/e2e/compose_test.go
  local/e2e/volume-test/docker-compose.yml
Labels: local

#1022 Display compose experimental disclaimer only for local context type or moby (default) context type
  cli/cmd/compose/compose.go
Labels: cli

#1023 Pass the target to buildkit
  local/build.go
Labels: local

#1021 Ensure down continues (removes networks) even if containers have been removed already
  local/compose.go
Labels: local

#1027 Move compose e2e tests to own folder
  local/compose/e2e/compose_test.go
  local/compose/e2e/volume-test/docker-compose.yml
  local/compose/e2e/volume-test/nginx-build/Dockerfile
  local/compose/e2e/volume-test/static/index.html
  local/compose_test.go
  tests/framework/e2e.go
Labels: local

#1028 Split compose.go into command-focussed go files
  local/backend.go
  local/compose.go
  local/compose/attach.go
  local/compose/build.go
  local/compose/compose.go
  local/compose/compose_test.go
  local/compose/convergence.go
  local/compose/create.go
  local/compose/dependencies.go
  local/compose/dependencies_test.go
  local/compose/down.go
  local/compose/labels.go
  local/compose/logs.go
  local/compose/ls.go
  local/compose/ps.go
  local/compose/pull.go
  local/compose/push.go
  local/compose/start.go
  local/compose/util.go
  local/container.go
  local/containers.go
  local/moby/container.go
  local/moby/convert.go
  local/moby/convert_test.go
Labels: local

#1030 compose: Add service labels
  local/compose/compose_test.go
  local/compose/create.go
  tests/compose-e2e/compose_test.go
  tests/compose-e2e/volume-test/docker-compose.yml
  tests/compose-e2e/volume-test/nginx-build/Dockerfile
  tests/compose-e2e/volume-test/static/index.html
  tests/composefiles/demo_multi_port.yaml
Labels: local

#1032 Compose anonymous volumes + fix container volume source
  go.mod
  go.sum
  local/compose/compose_test.go
  local/compose/create.go
  tests/compose-e2e/compose_test.go
  tests/compose-e2e/volume-test/docker-compose.yml
Labels: local

#1019 compose ps do list containers, not services
  aci/compose.go
  aci/convert/convert.go
  api/client/compose.go
  api/compose/api.go
  cli/cmd/compose/ps.go
  ecs/aws.go
  ecs/aws_mock.go
  ecs/local/compose.go
  ecs/ps.go
  ecs/sdk.go
  example/backend.go
  local/compose/compose_test.go
  local/compose/create_test.go
  local/compose/ls_test.go
  local/compose/ps.go
  server/proxy/compose.go
  tests/aci-e2e/e2e-aci_test.go
  tests/ecs-e2e/e2e-ecs_test.go
Labels: aci, api, cli, ecs, local

#1041 Adding short description to improve help on compose subcommands
  cli/cmd/compose/build.go
  cli/cmd/compose/down.go
  cli/cmd/compose/list.go
  cli/cmd/compose/logs.go
  cli/cmd/compose/ps.go
  cli/cmd/compose/pull.go
  cli/cmd/compose/push.go
  cli/cmd/compose/up.go
Labels: cli

#1044 No rebuild on compose up if image already exists by default
  cli/cmd/compose/compose.go
  cli/cmd/compose/up.go
  go.mod
  go.sum
  local/compose/build.go
  tests/compose-e2e/compose_test.go
Labels: cli, local

#1047 Check if stdin is nil before closing
  local/compose/attach.go
Labels: local

#1012 Bump buildx and docker vendoring
  go.mod
  go.sum
  local/compose/build.go
Labels: local

#1053 ACI: Allow setting protocol when publishing ports
  aci/convert/container.go
  aci/convert/ports.go
  aci/convert/ports_test.go
Labels: aci

#1058 Parse --version and forward to docker/cli
  cli/main.go
Labels: cli

#1062 Make Moby command detection (based on help output) more robust.
  cli/mobycli/exec.go
Labels: cli

#1064 Only consider public subnets
  ecs/aws.go
  ecs/awsResources.go
  ecs/aws_mock.go
  ecs/cloudformation_test.go
  ecs/sdk.go
Labels: ecs

#1065 Ensure local compose E2E are run in CI.
  Makefile
  tests/compose-e2e/compose_test.go
  tests/compose-e2e/fixtures/sentences/docker-compose.yaml
Labels: ci, compose

#1066 Bump docker and buildx
  go.mod
  go.sum
  local/compose/build.go
Labels: local

#1072 Support user passing an ARN for x-aws-vpc
  ecs/awsResources.go
  ecs/cloudformation_test.go
Labels: ecs

#1073 allow to collect logs for a subset of project services
  aci/compose.go
  api/client/compose.go
  api/compose/api.go
  cli/cmd/compose/logs.go
  ecs/local/compose.go
  ecs/logs.go
  example/backend.go
  local/compose/logs.go
Labels: aci, api, cli, ecs, local

#1071 use compose-in-go code to implement local ECS simulation context
  aci/compose.go
  api/client/compose.go
  api/compose/api.go
  cli/cmd/compose/convert.go
  cli/cmd/compose/down.go
  cli/cmd/compose/up.go
  ecs/cloudformation.go
  ecs/down.go
  ecs/local/backend.go
  ecs/local/compose.go
  ecs/up.go
  example/backend.go
  go.mod
  local/compose/compose.go
  local/compose/down.go
  local/compose/logs.go
  server/proxy/compose.go
  tests/compose-e2e/fixtures/logs-test/compose.yaml
  tests/compose-e2e/logs_test.go
Labels: aci, api, cli, ecs, local

#1003 Add local `compose run` command
  aci/compose.go
  api/client/compose.go
  api/compose/api.go
  cli/cmd/compose/compose.go
  cli/cmd/compose/run.go
  ecs/local/compose.go
  ecs/run.go
  example/backend.go
  local/compose/attach.go
  local/compose/convergence.go
  local/compose/create.go
  local/compose/down.go
  local/compose/labels.go
  local/compose/run.go
  tests/compose-e2e/compose_test.go
  tests/compose-e2e/fixtures/run-test/docker-compose.yml
Labels: aci, api, cli, ecs, local

#1082 Bump linter on CI
  .github/workflows/ci.yml
Labels: ci
