Repository docker/compose-cli, pull requests merged in 2020-11, with the labels that each got.

#855 Add --rm support to run with the local backend
  api/containers/api.go
  cli/cmd/run/run.go
  cli/cmd/testdata/inspect-out-id.golden
  cli/options/run/opts.go
  local/backend.go
  local/e2e/backend_test.go
  protos/containers/v1/containers.pb.go
  protos/containers/v1/containers.proto
  server/proxy/containers.go
  tests/e2e/testdata/inspect-id.golden
Labels: api, cli

#862 Display ecs status in CamelCase in order to have homogeneous output between backends.
  ecs/down.go
  ecs/wait.go
  ecs/wait_test.go
  go.mod
  go.sum
  tests/ecs-e2e/e2e-ecs_test.go
Labels: ecs

#859 Sorting env pair array to avoid creating different CloudFormation templates between calls
  ecs/convert.go
Labels: ecs

#846 Refactor ECS context creation
  cli/cmd/context/create_ecs.go
  context/store/contextmetadata.go
  ecs/backend.go
  ecs/context.go
  ecs/context_test.go
  ecs/testdata/context/by-keys/config.golden
  ecs/testdata/context/by-keys/credentials.golden
  ecs/testdata/context/by-profile/config.golden
  ecs/testdata/context/by-profile/credentials.golden
  go.sum
  prompt/prompt.go
  prompt/prompt_mock.go
  tests/ecs-e2e/e2e-ecs_test.go
Labels: cli, ecs

#866 DescribeSubnets uses pagination
  ecs/sdk.go
Labels: ecs

#876 Pin ECS secrets sidecar image & add makefile targets
  Makefile
  ecs/convert.go
Labels: ecs

#878 Remove obsolete flag `docker context ls --json` (that was marked hidden)
  cli/cmd/context/ls.go
  tests/e2e/e2e_test.go
Labels: cli

#883 Detect changeset creation failure when there's no change
  ecs/sdk.go
Labels: ecs

#879 Flag to import access key & secret from file
  cli/cmd/context/create_ecs.go
Labels: cli, ecs

#867 Local backend improvements
  api/containers/api.go
  local/backend.go
  local/containers.go
  local/convert.go
  local/convert_test.go
  local/e2e/backend_test.go
  local/volumes.go
Labels: api

#880 Add context details in API context ls
  protos/contexts/v1/contexts.pb.go
  protos/contexts/v1/contexts.proto
  server/proxy/contexts.go
  server/proxy/contexts_test.go
Labels: api

#884 Windows: do not resolve files in current working dir if CWD is not explicitly in PATH.
  cli/mobycli/exec.go
  cli/mobycli/resolvepath/lp_unix.go
  cli/mobycli/resolvepath/lp_windows.go
  scripts/validate/fileheader
Labels: cli

#887 Remap restart policies for command run
  api/containers/api.go
  cli/cmd/run/run.go
  cli/cmd/run/testdata/run-help.golden
  cli/options/run/opts.go
  cli/options/run/opts_test.go
Labels: api, cli

#845 Add Healthchecks to ACI
  aci/convert/container.go
  aci/convert/convert.go
  aci/convert/convert_test.go
  api/containers/api.go
  cli/cmd/run/run.go
  cli/cmd/run/testdata/run-help.golden
  cli/cmd/testdata/inspect-out-id.golden
  cli/options/run/opts.go
  docs/aci-compose-features.md
  go.mod
  go.sum
  protos/containers/v1/containers.pb.go
  protos/containers/v1/containers.proto
  server/proxy/containers.go
  tests/e2e/testdata/inspect-id.golden
Labels: aci, api, cli, documentation

#882 Marshall cloudformation template as yaml
  aci/compose.go
  api/client/compose.go
  api/compose/api.go
  cli/cmd/compose/convert.go
  ecs/cloudformation.go
  ecs/cloudformation_test.go
  ecs/local/compose.go
  ecs/marshall.go
  ecs/testdata/simple/simple-cloudformation-conversion.golden
  ecs/up.go
  example/backend.go
Labels: aci, api, cli, ecs

#889 Minor refactoring: Move list of run specific flags where it’s used
  api/containers/api.go
  cli/options/run/opts.go
Labels: api, cli

#892 Avoid nil pointer when reading logs of a just terminated container.
  aci/aci.go
Labels: aci, bug: crash 💥

#869 publish Cloudformation template on s3
  ecs/aws.go
  ecs/aws_mock.go
  ecs/sdk.go
  ecs/up.go
  go.mod
  go.sum
Labels: ecs

#898 Updated health check docs
  docs/aci-compose-features.md
  docs/aci-container-features.md
Labels: documentation

#897 Don't panic on bind mount
  ecs/cloudformation.go
  ecs/compatibility.go
Labels: ecs

#903 Document ECS supported compose attributes
  docs/ecs-compose-features.md
Labels: documentation

#899 Specific error message when specifying path as a volume source
  aci/convert/convert.go
  aci/convert/volume.go
  aci/convert/volume_test.go
Labels: aci

#904 Use reservations if user has not set limits
  ecs/convert.go
Labels: ecs

#905 Use ACI .IsHttpStatus() rather than accessing .StatusCode directly
  aci/aci.go
  aci/compose.go
  aci/containers.go
  aci/volumes.go
Labels: aci

#906 Collect metrics --help flag
  metrics/commands.go
  metrics/generatecommands/main.go
  metrics/metrics.go
  metrics/metrics_test.go
  tests/e2e/e2e_test.go
Labels: metrics

#915 Don't mess with exiting .aws/credentials
  ecs/context.go
Labels: ecs

#913 Add support for gpu devices reservation
  ecs/cloudformation_test.go
  ecs/compatibility.go
  ecs/convert.go
  go.mod
  go.sum
Labels: ecs

#893 Add container inspect view
  cli/cmd/inspect.go
  cli/cmd/testdata/inspect-out-id.golden
  tests/aci-e2e/e2e-aci_test.go
  tests/e2e/testdata/inspect-id.golden
  tests/framework/e2e.go
Labels: cli

#912 Compose api
  cli/cmd/serve.go
  protos/compose/v1/compose.pb.go
  protos/compose/v1/compose.proto
  server/metrics.go
  server/metrics_test.go
  server/proxy/compose.go
  server/proxy/proxy.go
Labels: api, cli

#916 Fix proto message names for ComposeStacks() input / output ; same for ComposeServices()
  protos/compose/v1/compose.pb.go
  protos/compose/v1/compose.proto
  server/proxy/compose.go
Labels: api

#895 Added IAM roles/policies examples and re-ordered some of the text
  docs/ecs-compose-examples.md
Labels: documentation

#918 Use json to marshall ecs-local enhanced docker-compose config
  ecs/local/compose.go
Labels: ecs

#907 Aci healthcheck threshold
  aci/convert/convert.go
  aci/convert/convert_test.go
  cli/cmd/run/run.go
  cli/cmd/run/testdata/run-help.golden
  cli/options/run/opts.go
  cli/options/run/opts_test.go
  docs/aci-container-features.md
Labels: aci, cli, documentation

#920 Fix tabs vs spaces
  protos/compose/v1/compose.proto
Labels: api

#923 Lint local backend
  .github/labeler.yml
  Dockerfile
  Makefile
  builder.Makefile
  local/backend.go
  local/compose.go
  local/convergence.go
  local/dependencies.go
  local/dependencies_test.go
  local/labels.go
  local/util.go
  metrics/conn_e2e.go
Labels: ci, metrics

#925 Local compose ls implementation
  local/compose.go
  local/compose_test.go
  local/convergence.go
  local/labels.go
Labels: local

#926 compose ps implementation
  local/compose.go
  local/compose_test.go
Labels: local

#924 Run convergence in service dependency order
  local/compose.go
  local/convergence.go
  local/convert.go
  local/dependencies.go
  local/dependencies_test.go
  local/util.go
Labels: local

#943 Fix processing dependency graph only onces per node
  local/dependencies.go
Labels: local

#944 First local compose e2e tests
  local/e2e/compose_test.go
Labels: local

#946 Fix typos in `docs/aci-compose-features.md`
  docs/aci-compose-features.md
Labels: documentation

#947 Use a dependency graph to start services
  local/compose.go
  local/convergence.go
  local/dependencies.go
Labels: local

#942 Remove useless Done in the progress writer
  local/compose.go
  local/convergence.go
  progress/writer.go
Labels: local

#886 Add auto creation of fileshares
  aci/aci.go
  aci/compose.go
  aci/convert/volume.go
  aci/convert/volume_test.go
  aci/volumes.go
  tests/aci-e2e/e2e-aci_test.go
Labels: aci

#948 Use json progress message
  local/compose.go
Labels: local

#953 On GH Actions windows nodes, ensure there is no automatic docker login before running ACI E2E tests
  .github/workflows/optional-ci.yml
Labels: ci

#957 Fix some linter issues when running `make lint`
  local/dependencies.go
Labels: aci, ci, local

#955 Bump dependencies
  Dockerfile
  aci/context.go
  go.mod
  go.sum
  server/proxy/streams.go
Labels: aci

#958 Bump `azure-sdk-for-go`: v43.3.0 -> v48.2.0
  aci/aci.go
  aci/backend.go
  aci/containers.go
  aci/convert/convert.go
  aci/convert/convert_test.go
  aci/convert/ports.go
  aci/convert/ports_test.go
  aci/convert/restartpolicy.go
  aci/convert/restartpolicy_test.go
  aci/convert/secrets.go
  aci/convert/volume.go
  aci/convert/volume_test.go
  aci/login/client.go
  aci/resources.go
  aci/volumes.go
  cli/cmd/prune.go
  go.mod
  go.sum
Labels: aci, cli

#961 Add container labels to improve compatibility with docker-compose
  local/compose.go
  local/labels.go
Labels: local

#969 Add compose labels for network
  local/compose.go
  local/e2e/compose_test.go
  local/labels.go
Labels: local

#960 implement service image build by BuildKit
  go.mod
  go.sum
  local/build.go
  local/compose.go
  tests/composefiles/demo_multi_port.yaml
Labels: local

#972 Add compose labels for composefiles
  go.mod
  go.sum
  local/compose.go
  local/e2e/compose_test.go
Labels: local

#976 Volume labels
  local/backend.go
  local/build.go
  local/compose.go
  local/convergence.go
  local/labels.go
Labels: local

#978 Ensure images are pulled/build with build first, before creating networks / volumes.
  local/compose.go
Labels: local

#979 Don't start buildx' build with empty opts
  local/build.go
Labels: local

#982 Remove project network on compose down
  local/compose.go
  local/e2e/compose_test.go
  tests/aci-e2e/e2e-aci_test.go
  tests/framework/e2e.go
Labels: local

#983 Refactor progress events
  aci/aci.go
  aci/volumes.go
  ecs/down.go
  ecs/wait.go
  local/compose.go
  local/convergence.go
  progress/event.go
  progress/writer.go
Labels: aci, ecs, local

#980 filter compose project to remove all services not required by command
  cli/cmd/compose/compose.go
  cli/cmd/compose/compose_test.go
  cli/cmd/compose/up.go
Labels: cli

#989 introduce `compose build` command
  aci/compose.go
  api/client/compose.go
  api/compose/api.go
  cli/cmd/compose/build.go
  cli/cmd/compose/compose.go
  ecs/local/compose.go
  ecs/up.go
  example/backend.go
  local/compose.go
Labels: aci, api, cli, ecs, local
