Repository docker/compose-cli, pull requests merged in 2020-10, with the labels that each got.

#702 Add argument support to run command
  aci/convert/container.go
  aci/convert/container_test.go
  aci/convert/convert.go
  api/containers/api.go
  cli/cmd/run/run.go
  cli/options/run/opts.go
  protos/containers/v1/containers.pb.go
  protos/containers/v1/containers.proto
  server/proxy/containers.go
Labels: aci, api, cli

#707 Add pre-commit target to Makefile
  Makefile
Labels: enhancement ✨

#704 Add envFile arguments to run command
  cli/cmd/run/run.go
  cli/cmd/run/run_test.go
  cli/cmd/run/testdata/run-help.golden
  cli/cmd/run/testdata/runtest1.env
  cli/cmd/run/testdata/runtest2.env
  cli/options/run/opts.go
Labels: cli

#715 Fix regression: let users login to local registry (no ‘.’ In registry name)
  cli/cmd/login/login.go
  tests/e2e/e2e_test.go
Labels: cli

#717 Normalize volume names
  ecs/volumes.go
Labels: ecs

#701 Introduce x-aws-autoscale to support CPU based autoscaling
  ecs/architecture.md
  ecs/autoscaling.go
  ecs/autoscaling_test.go
  ecs/awsResources.go
  ecs/cloudformation.go
  ecs/iam.go
  ecs/testdata/simple/simple-cloudformation-conversion.golden
  ecs/x.go
Labels: ecs

#709 Add environment variables to grpc run request.
  protos/containers/v1/containers.pb.go
  protos/containers/v1/containers.proto
  server/proxy/containers.go
  server/proxy/containers_test.go
Labels: api

#700 Regroup azure constants that might be things to switch in order to provide access to other azure clouds
  aci/convert/registry_credentials.go
  aci/login/helper.go
  aci/login/login.go
Labels: aci

#718 delete CapacityProvider before we invoke DeleteStack
  ecs/aws.go
  ecs/down.go
  ecs/sdk.go
  ecs/wait.go
Labels: ecs

#689 Add json output format to several commands
  aci/containers.go
  cli/cmd/compose/compose.go
  cli/cmd/compose/list.go
  cli/cmd/compose/ps.go
  cli/cmd/context/ls.go
  cli/cmd/inspect.go
  cli/cmd/ps.go
  cli/cmd/secrets.go
  cli/cmd/version.go
  cli/cmd/version_test.go
  cli/cmd/volume/list.go
  cli/cmd/volume/testdata/volumes-out.golden
  cli/mobycli/exec.go
  formatter/consts.go
  formatter/formatter.go
  formatter/formatter_test.go
  formatter/json.go
  formatter/pretty.go
  go.mod
  go.sum
  tests/e2e/e2e_test.go
  tests/e2e/testdata/ls-out-json.golden
  tests/e2e/testdata/ps-out-example-json.golden
  utils/formatter/container.go
Labels: aci, cli

#719 Normalize volume name
  ecs/volumes.go
Labels: ecs

#721 Normalize case of command and flag help
  cli/cmd/context/create.go
  cli/cmd/context/rm.go
  cli/main.go
  docs/cli/orig/context_create.md
Labels: cli, documentation

#706 Detect task failures during deployment
  api/compose/api.go
  cli/cmd/compose/list.go
  ecs/list.go
  ecs/ps.go
  ecs/sdk.go
  ecs/wait.go
Labels: api, cli, ecs

#728 NLB don't support securityGroups
  ecs/awsResources.go
Labels: ecs

#732 restore status in addition to reason as progress message
  ecs/wait.go
Labels: ecs

#724 Allow `docker context ls —formatter {{json.}}` to not delegate to Moby and include context type in the json
  cli/cmd/context/ls.go
  cli/cmd/version.go
  formatter/consts.go
  tests/e2e/e2e_test.go
Labels: cli

#730 Add detach flag to `compose up`
  aci/compose.go
  api/client/compose.go
  api/compose/api.go
  cli/cmd/compose/compose.go
  cli/cmd/compose/up.go
  ecs/local/compose.go
  ecs/up.go
  example/backend.go
Labels: aci, api, cli, ecs

#723 Compose to ACI mapping documentation
  docs/aci-compose-features.md
Labels: documentation

#741 Simplify metrics gathering, separate running commands from getting help
  cli/main.go
  cli/mobycli/exec.go
  metrics/commands.go
  metrics/generatecommands/main.go
  metrics/metrics.go
  metrics/metrics_test.go
  tests/e2e/e2e_test.go
Labels: cli, metrics

#748 Aci resource reservation & limits
  aci/convert/container.go
  aci/convert/convert.go
  aci/convert/convert_test.go
  api/containers/api.go
  cli/cmd/testdata/inspect-out-id.golden
  example/backend.go
  protos/containers/v1/containers.pb.go
  protos/containers/v1/containers.proto
  server/proxy/containers.go
  tests/aci-e2e/e2e-aci_test.go
  tests/composefiles/aci-demo/aci_demo_port.yaml
  tests/composefiles/aci-demo/aci_demo_port_resources.yaml
  tests/e2e/testdata/inspect-id.golden
Labels: aci, api, cli

#736 Look for all mounts before removing a volume
  aci/volumes.go
  tests/aci-e2e/e2e-aci_test.go
Labels: aci

#753 Remove inline secrets option
  aci/convert/convert.go
Labels: aci

#734 Add version to UserAgent on ACI
  aci/login/client.go
  builder.Makefile
  cli/cmd/version.go
  cli/main.go
  ecs/sdk.go
  internal/variables.go
Labels: aci, cli, ecs

#757 Squash all secrets in a single one
  aci/convert/convert.go
  docs/aci-compose-features.md
  tests/aci-e2e/e2e-aci_test.go
  tests/composefiles/aci_secrets/Dockerfile
  tests/composefiles/aci_secrets/compose-invalid-target.yml
  tests/composefiles/aci_secrets/compose.yml
  tests/composefiles/aci_secrets/my_secret1.txt
  tests/composefiles/aci_secrets/my_secret2.txt
Labels: aci, documentation

#764 More unit tests with aws-sdk behind an interface + mocks
  ecs/autoscaling_test.go
  ecs/aws.go
  ecs/awsResources.go
  ecs/aws_mock.go
  ecs/backend.go
  ecs/cloudformation.go
  ecs/cloudformation_test.go
  ecs/compatibility.go
  ecs/down.go
  ecs/ec2.go
  ecs/list.go
  ecs/logs.go
  ecs/ps.go
  ecs/sdk.go
  ecs/secrets.go
  ecs/testdata/simple/simple-cloudformation-conversion.golden
  ecs/up.go
  ecs/wait.go
  go.mod
  go.sum
Labels: ecs

#760 Add --quiet for some commands
  aci/backend.go
  cli/cmd/compose/compose.go
  cli/cmd/compose/list.go
  cli/cmd/compose/ps.go
  cli/cmd/secrets.go
  cli/cmd/volume/list.go
  tests/aci-e2e/e2e-aci_test.go
Labels: aci, cli, ecs

#770 Put back gRPC fields to avoid API breaking change with existing versi…
  protos/containers/v1/containers.pb.go
  protos/containers/v1/containers.proto
Labels: api

#747 Add support for Volume creation
  api/compose/tags.go
  ecs/aws.go
  ecs/awsResources.go
  ecs/aws_mock.go
  ecs/cloudformation.go
  ecs/cloudformation_test.go
  ecs/compatibility.go
  ecs/convert.go
  ecs/sdk.go
  ecs/volumes.go
  go.mod
  go.sum
Labels: api, ecs

#771 Fix panic when invoking inspect with empty container id
  aci/containers.go
Labels: aci

#774 Remove indirect dependency causing error on Darwin build. Adding cross compile in CI build (all PRs)
  .github/workflows/ci.yml
  go.mod
  go.sum
Labels: ci

#769 Add command "volume inspect"
  aci/volumes.go
  api/client/volume.go
  api/volumes/api.go
  cli/cmd/volume/acivolume.go
  protos/volumes/v1/volumes.pb.go
  protos/volumes/v1/volumes.proto
  server/metrics.go
  server/proxy/volumes.go
  tests/aci-e2e/e2e-aci_test.go
Labels: aci, api, cli

#783 Let user pass EFS create option by driver_opts
  ecs/awsResources.go
  ecs/cloudformation.go
  ecs/cloudformation_test.go
  ecs/compatibility.go
Labels: ecs

#786 ACI docker prune
  aci/backend.go
  aci/convert/convert.go
  aci/resources.go
  api/client/client.go
  api/client/resources.go
  api/resources/api.go
  backend/backend.go
  cli/cmd/prune.go
  cli/main.go
  ecs/backend.go
  ecs/local/backend.go
  example/backend.go
  local/backend.go
  server/metrics_test.go
  tests/aci-e2e/e2e-aci_test.go
Labels: aci, api, cli, ecs

#782 Document cross build step reason & timing in CI
  .github/workflows/ci.yml
Labels: ci

#789 Display summary of reclaimed ACI resources (CPU/mem) in `docker prune`
  aci/convert/convert.go
  aci/resources.go
  api/client/resources.go
  api/resources/api.go
  cli/cmd/prune.go
  tests/aci-e2e/e2e-aci_test.go
Labels: aci, api, cli

#792 Add compose file examples for ECS
  docs/examples.md
Labels: documentation

#765 Populate ~/.aws/config(credentials) on ecs context create
  cli/cmd/context/create_ecs.go
  ecs/backend.go
  ecs/context.go
  tests/ecs-e2e/e2e-ecs_test.go
Labels: cli, ecs

#787 Support absolute paths for secrets
  aci/convert/convert.go
  aci/convert/convert_test.go
  tests/aci-e2e/e2e-aci_test.go
  tests/composefiles/aci_secrets/compose-invalid-target.yml
Labels: aci

#795 Store external cluster as metadata
  ecs/awsResources.go
  ecs/cloudformation.go
  ecs/cloudformation_test.go
  ecs/sdk.go
Labels: ecs

#800 Fix unit tests on windows: for secret target path, use path.Join etc. instead of filepath.Join
  aci/convert/convert.go
  aci/convert/convert_test.go
Labels: aci

#779 add support for ulimits.nofile
  ecs/compatibility.go
  ecs/down.go
Labels: ecs

#791 Aci doc on single container run and flags
  aci/convert/convert_test.go
  docs/aci-compose-features.md
  docs/aci-container-features.md
Labels: aci, documentation

#805 Replace `docker run —envFile` with `docker run —env-file`
  cli/cmd/run/run.go
  cli/cmd/run/testdata/run-help.golden
  docs/aci-container-features.md
Labels: cli, documentation

#808 fix "autoscaling" typo
  ecs/architecture.md
Labels: ecs

#735 Add password file argument to secret create (handles '-' as stdin read)
  api/secrets/api.go
  cli/cmd/secrets.go
  ecs/sdk.go
  tests/ecs-e2e/e2e-ecs_test.go
Labels: api, cli, ecs

#696 Allow user to set ami/machine by Deploy.Placement.Constraint
  ecs/backend.go
  ecs/cloudformation_test.go
  ecs/compatibility.go
  ecs/ec2.go
  ecs/ec2_test.go
Labels: ecs

#812 Introduce use of EFS Access Point to mount filesystems as volumes
  ecs/autoscaling.go
  ecs/aws.go
  ecs/awsResources.go
  ecs/aws_mock.go
  ecs/backend.go
  ecs/cloudformation.go
  ecs/cloudformation_test.go
  ecs/convert.go
  ecs/ec2.go
  ecs/iam.go
  ecs/sdk.go
  ecs/testdata/simple/simple-cloudformation-conversion.golden
  ecs/volumes.go
Labels: cli, ecs

#818 Remove status truncate on wait
  ecs/wait.go
  progress/tty.go
Labels: ecs

#813 CLI command to manage ECS volumes
  cli/cmd/volume/command.go
  cli/main.go
  ecs/aws.go
  ecs/awsResources.go
  ecs/aws_mock.go
  ecs/backend.go
  ecs/cloudformation_test.go
  ecs/sdk.go
  ecs/volumes.go
  resolve
Labels: cli, ecs

#819 Fix volume create cli bug
  aci/volumes.go
  cli/cmd/volume/command.go
Labels: aci, cli

#804 Move ACI conversion code to specific files
  aci/convert/convert.go
  aci/convert/convert_test.go
  aci/convert/ports.go
  aci/convert/ports_test.go
  aci/convert/restartpolicy.go
  aci/convert/restartpolicy_test.go
  aci/convert/secrets.go
  aci/convert/secrets_test.go
  aci/convert/volume.go
  aci/convert/volume_test.go
Labels: aci

#817 Configure autoscaling parameters
  ecs/autoscaling.go
  ecs/autoscaling_test.go
  ecs/cloudformation.go
Labels: ecs

#822 Enable cross zone load balancing
  ecs/awsResources.go
Labels: ecs

#820 Fix secrets docs on mounts
  docs/aci-compose-features.md
Labels: documentation

#828 Small fixes in secrets docs
  docs/aci-compose-features.md
Labels: documentation

#831 Fix Dockerfile syntax in ecs sidecars
  ecs/resolv/Dockerfile
  ecs/secrets/Dockerfile
Labels: ecs

#832 Add trailing empty line in /etc/hosts
  aci/etchosts/hosts.go
  aci/etchosts/testdata/etchosts.golden
Labels: aci

#833 Add --rm to run command (as not yet implemented)
  cli/cmd/run/run.go
  cli/options/run/opts.go
Labels: cli

#827 Removing API deprecated fields (unused in VSCode Docker extension)
  protos/containers/v1/containers.pb.go
  protos/containers/v1/containers.proto
Labels: api

#840 Add update command for backward compatibility
  cli/cmd/context/context.go
  cli/cmd/context/update.go
  tests/e2e/e2e_test.go
Labels: cli

#838 Docs: adding docs README, moving ecs docs in docs folder, removing ob…
  docs/README.md
  docs/aci-integration.md
  docs/cli/README.md
  docs/cli/context.md
  docs/cli/orig/context_create.md
  docs/cli/orig/context_use.md
  docs/cli/orig/run.md
  docs/cli/overview-of-the-cli.md
  docs/cli/run.md
  docs/ecs-architecture.md
  docs/ecs-compose-examples.md
Labels: documentation

#844 cloudformation: fix typo in generated ingress description
  ecs/cloudformation.go
  ecs/testdata/simple/simple-cloudformation-conversion.golden
Labels: ecs

#843 Pin version of ACI sidecar image, so that we don’t affect prod users when re-publishing :latest.
  Makefile
  aci/convert/convert.go
Labels: aci

#842 Remove aci-integration.md, all info moved to docs.docker.com
  docs/README.md
  docs/aci-integration.md
Labels: documentation

#850 Fix path appending
  cli/main.go
  cli/main_test.go
  tests/aci-e2e/e2e-aci_test.go
Labels: cli

#854 Revert breaking change on `docker context ls —format “{{ json . }}`
  cli/cmd/context/ls.go
  cli/cmd/version.go
  formatter/consts.go
  formatter/formatter.go
  formatter/formatter_test.go
  tests/e2e/e2e_test.go
  tests/e2e/testdata/ls-out-json-windows.golden
  tests/e2e/testdata/ls-out-json.golden
  tests/e2e/testdata/ls-out-legacy-json-windows.golden
  tests/e2e/testdata/ls-out-legacy-json.golden
Labels: cli

#852 Fixing empty vpcId that prevented custom VPCs to work
  ecs/awsResources.go
Labels: ecs

#857 Pinned and publish docker/ecs-searchdomain-sidecar:1.0
  Makefile
  ecs/convert.go
  ecs/testdata/simple/simple-cloudformation-conversion.golden
Labels: ecs
