Repository docker/compose-cli, pull requests merged in 2020-09, with the labels that each got.

#647 Update install doc
  INSTALL.md
  docs/install/linux.md
Labels: documentation

#662 Sort main imports
  cli/main.go
Labels: cli

#679 Fix Linux install instructions and script
  INSTALL.md
  docs/install/install.sh
  scripts/install/install_linux.sh
Labels: documentation

#681 Api metrics context: send context type, not contet name, and never fail
  api/client/client.go
  server/interceptor.go
  server/metrics.go
  server/metrics_test.go
  server/proxy/proxy.go
  server/server.go
Labels: api

#684 Update CI workflow to build fine on PRs from forks
  .github/workflows/ci.yml
Labels: ci

#683 Volumes grpc interface
  cli/cmd/serve.go
  protos/volumes/v1/volumes.pb.go
  protos/volumes/v1/volumes.proto
  server/metrics.go
  server/metrics_test.go
  server/proxy/proxy.go
  server/proxy/volumes.go
Labels: cli

#690 Label PRs touching to protos
  .github/labeler.yml
Labels: ci

#638 ECS conversion code cleanup and refactoring
  ecs/awsResources.go
  ecs/backend.go
  ecs/cloudformation.go
  ecs/cloudformation_test.go
  ecs/compatibility.go
  ecs/convert.go
  ecs/ec2.go
  ecs/ps.go
  ecs/sdk.go
  ecs/testdata/simple/simple-cloudformation-conversion.golden
  ecs/up.go
  ecs/volumes.go
  ecs/x.go
Labels: ecs

#698 ACI integration doc, listing main feature mapping and noticeable differences between local docker experience and ACI deployment.
  docs/aci-interation.md
Labels: documentation

#699 Do not fail when constructing error message for commands not implemented, if command flags are not recognized.
  cli/main.go
  metrics/metrics.go
  metrics/metrics_test.go
  tests/e2e/e2e_test.go
Labels: cli, metrics
