Repository docker/compose-cli, pull requests merged in 2021-02, with the labels that each got.

#1201 Bump compose-go for absolute paths fix
  go.mod
  go.sum
  local/e2e/compose/compose_test.go
Labels: local

#1196 Support exposing ports and cross-service communication
  .github/labeler.yml
  kube/charts/kubernetes/kube.go
  kube/charts/kubernetes/kube_test.go
  kube/e2e/kube-simple-demo/demo_sentences.yaml
  local/compose/labels.go
Labels: ci, cli, local

#1218 Introduce --all option on compose ps
  aci/compose.go
  api/client/compose.go
  api/compose/api.go
  cli/cmd/compose/ps.go
  cli/server/proxy/compose.go
  ecs/local/compose.go
  ecs/ps.go
  kube/compose.go
  local/compose/ps.go
Labels: aci, api, cli, ecs, kube, local

#1220 golden file in subfolder trigger MkDir ¯\_(ツ)_/¯
  ecs/cloudformation_test.go
  ecs/testdata/simple-cloudformation-conversion.golden
Labels: ecs

#1216 Introduce --profile option
  cli/cmd/compose/build.go
  cli/cmd/compose/compose.go
  cli/cmd/compose/compose_test.go
  cli/cmd/compose/convert.go
  cli/cmd/compose/down.go
  cli/cmd/compose/pull.go
  cli/cmd/compose/push.go
  cli/cmd/compose/start.go
  cli/cmd/compose/stop.go
  cli/cmd/compose/up.go
  go.mod
  go.sum
  local/compose/attach.go
Labels: cli, local

#1211 Add HEALTH column to compose ps
  api/compose/api.go
  cli/cmd/compose/ps.go
  local/compose/ps.go
Labels: api, cli, local

#1217 First kube e2e. Adapted context create kubernetes command to allow non interactive mode.
  .github/workflows/kube-tests.yml
  Makefile
  cli/cmd/context/create_kube.go
  kube/context.go
  kube/e2e/compose_test.go
  utils/e2e/framework.go
Labels: ci, cli, kube

#1223 Fix golden files usage
  ecs/context_test.go
  ecs/testdata/context-by-keys-config.golden
  ecs/testdata/context-by-keys-credentials.golden
  ecs/testdata/context-by-profile-config.golden
  ecs/testdata/context-by-profile-credentials.golden
Labels: ecs

#1222 Kube ctx description
  .github/PULL_REQUEST_TEMPLATE.md
  kube/context.go
  kube/context_test.go
  kube/e2e/compose_test.go
Labels: ci, kube

#1221 Kube backend: Add progress writer to `compose up/down`
  kube/charts/charts.go
  kube/compose.go
  kube/context.go
  kube/helm/chart.go
  kube/helm/helm.go
  kube/resources/context.go
  kube/resources/kube.go
  kube/resources/kube_test.go
  kube/resources/placement.go
  kube/resources/placement_test.go
  kube/resources/pod.go
  kube/resources/pod_test.go
  kube/resources/volumes.go
Labels: kube

#1228 Adding e2e test for local compose healthcheck in compose ps
  local/e2e/compose/compose_test.go
  local/e2e/compose/fixtures/sentences/compose.yaml
Labels: local

#1230 Avoid negative elapsed the display when only one event is sent.
  api/progress/tty.go
  api/progress/tty_test.go
Labels: api

#1231 Expose `—remove-orphans` in compose down command
  cli/cmd/compose/down.go
Labels: cli

#1240 clearer error message and fix typo
  ecs/sdk.go
Labels: ecs

#1229 Init helm action by default with no logger, don’t require callers to initialise it.
  kube/helm/helm.go
Labels: kube

#1243 Prefix kube resource with compose project name to avoid name clashes between projects.
  kube/resources/kube.go
  kube/resources/kube_test.go
  kube/resources/pod_test.go
Labels: kube

#1247 Revert "Prefix kube resource with compose project name "
  kube/resources/kube.go
  kube/resources/kube_test.go
  kube/resources/pod_test.go
Labels: kube

#1241 Add configs bind mount support
  local/compose/create.go
  local/e2e/compose/compose_test.go
  local/e2e/compose/fixtures/volume-test/compose.yml
Labels: local

#1244 Kube compose ps
  kube/client/client.go
  kube/client/client_test.go
  kube/compose.go
  kube/e2e/compose_test.go
Labels: kube

#1250 Filter out one_off containers on `compose logs`
  local/compose/labels.go
  local/compose/logs.go
Labels: local

#1226 Add support for --log-level
  cli/cmd/compose/compose.go
  cli/cmd/login/login.go
  cli/cmd/mobyflags/mobyflags.go
  cli/cmd/version.go
  cli/main.go
  cli/options/options.go
  local/e2e/cli-only/e2e_test.go
  local/e2e/compose/logs_test.go
Labels: cli, local

#1251 Remove the HEALTH column in `docker compose ps`
  cli/cmd/compose/ps.go
  local/e2e/compose/compose_test.go
  local/e2e/compose/fixtures/sentences/compose.yaml
Labels: cli, local

#1258 Adapt e2e tests to compose flag order
  aci/e2e/e2e-aci_test.go
  cli/metrics/metrics_test.go
  ecs/e2e/ecs/e2e-ecs_test.go
  kube/e2e/compose_test.go
Labels: aci, cli, ecs, kube, metrics

#1245 Kube backend: Implement `compose logs`
  kube/client/client.go
  kube/compose.go
  kube/e2e/compose_test.go
  local/compose/attach.go
  local/compose/logs.go
  utils/logconsumer.go
Labels: kube, local

#1246 Add environment_files label on service's `env_file` section
  api/compose/tags.go
  cli/cmd/compose/up.go
  local/compose/labels.go
Labels: api, cli, local

#1256 Add content based e2e tests for configs and secrets
  local/e2e/compose/compose_test.go
  local/e2e/compose/fixtures/volume-test/compose.yml
Labels: local

#1260 Down warning when nothing to remove
  api/progress/tty.go
  local/compose/down.go
Labels: api, local

#1249 Kube backend: Add `compose convert`
  api/compose/api.go
  cli/cmd/compose/convert.go
  cli/cmd/compose/convert_kube.go
  kube/compose.go
  kube/helm/chart.go
Labels: api, cli, kube

#1264 Compose orphans warning
  cli/cmd/compose/run.go
  local/compose/create.go
  local/e2e/compose/compose_test.go
Labels: cli, local

#1281 More Local Compose unit tests
  local/compose/compose.go
  local/compose/containers.go
  local/compose/create.go
  local/compose/down.go
  local/compose/down_test.go
  local/compose/kill_test.go
  local/compose/ls.go
  local/compose/ps.go
  local/compose/ps_test.go
  local/compose/testdata/docker-compose.yml
  local/e2e/compose/cascade_stop_test.go
  local/e2e/container/container_test.go
  local/mocks/mock_docker_api.go
Labels: local

#1287 add support for up --scale
  cli/cmd/compose/up.go
  cli/cmd/compose/up_test.go
Labels: cli

#1290 detect stopped containers as "Created"
  aci/compose.go
  api/client/compose.go
  api/compose/api.go
  cli/cmd/compose/run.go
  ecs/local/compose.go
  ecs/run.go
  kube/compose.go
  local/compose/attach.go
  local/compose/convergence.go
  local/compose/run.go
Labels: aci, api, cli, ecs, kube, local

#1285 make color assignment predictable and option to disable prefixes/colors
  api/compose/api.go
  cli/cmd/compose/logs.go
  cli/cmd/compose/start.go
  cli/cmd/compose/up.go
  cli/formatter/colors.go
  cli/formatter/logs.go
  local/compose/attach.go
  local/compose/containers.go
  utils/logconsumer.go
Labels: api, cli, local

#1300 introduce create --force-recreate and --no-recreate
  cli/cmd/compose/create.go
Labels: cli

#1299 introduce compose rm command
  aci/compose.go
  api/client/compose.go
  api/compose/api.go
  cli/cmd/compose/compose.go
  cli/cmd/compose/remove.go
  ecs/local/compose.go
  ecs/run.go
  kube/compose.go
  local/compose/attach.go
  local/compose/compose.go
  local/compose/containers.go
  local/compose/convergence.go
  local/compose/remove.go
Labels: aci, api, cli, ecs, kube, local

#1309 Add cascade test cleanup with `down`
  local/e2e/compose/cascade_stop_test.go
Labels: local

#1307 Use gotestsum to make FAILURES more visible
  .github/workflows/ci.yml
  Makefile
Labels: ci

#1301 fix color assignment on status messages
  api/compose/api.go
  cli/cmd/compose/up.go
  cli/formatter/logs.go
  local/compose/attach.go
  local/compose/logs.go
  local/compose/start.go
Labels: api, cli, local

#1303 introduce timeout flag on down and stop
  aci/compose.go
  api/client/compose.go
  api/compose/api.go
  cli/cmd/compose/down.go
  cli/cmd/compose/remove.go
  cli/cmd/compose/stop.go
  cli/cmd/compose/up.go
  ecs/local/compose.go
  ecs/up.go
  kube/compose.go
  local/compose/create.go
  local/compose/down.go
  local/compose/down_test.go
  local/compose/stop.go
  local/compose/stop_test.go
Labels: aci, api, cli, ecs, kube, local

#1306 Add `compose exec` command
  aci/compose.go
  api/client/compose.go
  api/compose/api.go
  cli/cmd/compose/compose.go
  cli/cmd/compose/exec.go
  cli/main.go
  ecs/exec.go
  ecs/local/compose.go
  kube/compose.go
  local/compose/exec.go
Labels: aci, api, cli, ecs, kube, local

#1313 introduce --quiet option
  api/progress/plain.go
  cli/cmd/compose/build.go
  cli/cmd/compose/convert.go
  cli/cmd/compose/pull.go
Labels: aci, api, cli, ecs, local

#1317 introduce --rmi and --volumes options
  api/compose/api.go
  cli/cmd/compose/compose.go
  cli/cmd/compose/down.go
  go.sum
  local/compose/down.go
Labels: api, cli, local

#1318 introduce --resolve-image-digests on config command
  .github/workflows/aci-tests.yml
  .github/workflows/ci.yml
  .github/workflows/ecs-tests.yml
  .github/workflows/kube-tests.yml
  .github/workflows/release.yaml
  .github/workflows/windows-ci.yml
  Dockerfile
  aci/e2e/aci_secrets_resources/web/Dockerfile
  aci/etchosts/Dockerfile
  cli/cmd/compose/convert.go
  ecs/cloudformation.go
  ecs/resolv/Dockerfile
  ecs/secrets/Dockerfile
  go.mod
  go.sum
Labels: aci, ci, cli, ecs

#1322 Add Arm builds for macOS and Linux
  .github/workflows/aci-tests.yml
  .github/workflows/ci.yml
  .github/workflows/ecs-tests.yml
  .github/workflows/kube-tests.yml
  .github/workflows/release.yaml
  Dockerfile
  builder.Makefile
  cli/cmd/compose/down.go
  cli/cmd/compose/pull.go
  local/compose/down.go
Labels: ci, cli, dependencies, local, pkg/release

#1324 Replace docker/distribution with distribution/distribution
  go.mod
  go.sum
  local/compose/pull.go
  local/compose/push.go
Labels: local

#1323 introduce logs --timestamp
  api/compose/api.go
  cli/cmd/compose/logs.go
  local/compose/logs.go
Labels: api, cli, local

#1321 Add `--services` flag to `compose ps`
  cli/cmd/compose/ps.go
Labels: cli

#1328 os ENV has precedence over env file
  cli/cmd/compose/compose.go
Labels: cli

#1331 pass service to LogConsumer
  api/compose/api.go
  cli/cmd/compose/up.go
  cli/formatter/logs.go
  ecs/aws.go
  ecs/aws_mock.go
  ecs/sdk.go
  kube/client/client.go
  local/compose/logs.go
  utils/logs.go
Labels: api, cli, ecs, kube, local

#1332 Fixes GH Action config
  .github/workflows/ci.yml
Labels: ci

#1333 Fix linter
  cli/cmd/compose/logs.go
Labels: cli

#1335 Allow `docker compose logs -f` for compatibility
  cli/cmd/compose/logs.go
Labels: cli

#1329 introduce pause and unpause commands
  aci/compose.go
  api/client/compose.go
  api/compose/api.go
  cli/cmd/compose/compose.go
  cli/cmd/compose/pause.go
  ecs/local/compose.go
  ecs/up.go
  kube/compose.go
  local/compose/pause.go
Labels: aci, api, cli, compatibility, ecs, kube, local

#1337 progress writes to stderr
  ecs/e2e/ecs/e2e-ecs_test.go
Labels: ecs

#1336 Fix sidecar Dockerfiles : Go 1.16 uses go modules by default
  aci/etchosts/Dockerfile
  ecs/resolv/Dockerfile
  ecs/secrets/Dockerfile
Labels: aci, ecs

#1339 only display experimental warning on command error
  cli/cmd/compose/compose.go
  cli/main.go
Labels: cli

#1340 introduce --no-build option
  cli/cmd/compose/create.go
  cli/cmd/compose/up.go
  local/compose/build.go
Labels: cli, local

#1341 introduce a few more `compose run` options
  api/compose/api.go
  api/compose/api_test.go
  cli/cmd/compose/run.go
  go.mod
  local/compose/run.go
Labels: api, cli, local

#1262 Add service based network_mode
  cli/cmd/compose/compose.go
  cli/cmd/compose/compose_test.go
  go.mod
  go.sum
  local/compose/convergence.go
  local/compose/create.go
  local/compose/run.go
  local/compose/status.go
  local/e2e/compose/fixtures/network-test/compose.yaml
Labels: aci, api, cli, ecs, kube, local

#1344 Stop displaying logs when user cancels compose up, to not mix with stop progress display
  api/compose/api.go
  cli/cmd/compose/up.go
Labels: api, cli

#1343 add --timeout option to compose up
  cli/cmd/compose/run.go
  cli/cmd/compose/up.go
Labels: cli

#1345 Fix CI
  cli/cmd/compose/up.go
Labels: cli

#1347 Moving compose e2e tests in their own files
  local/e2e/compose/compose_build_test.go
  local/e2e/compose/compose_run_test.go
  local/e2e/compose/compose_test.go
  local/e2e/compose/networks_test.go
  local/e2e/compose/volumes_test.go
Labels: local

#1349 trying to better work around ACI flaky weird states
  aci/e2e/e2e-aci_test.go
Labels: aci

#1348 Add —all option to compose ls, listing non running projects.
  aci/compose.go
  api/client/compose.go
  api/compose/api.go
  cli/cmd/compose/compose.go
  cli/cmd/compose/list.go
  cli/server/protos/compose/v1/compose.pb.go
  cli/server/protos/compose/v1/compose.proto
  cli/server/protos/containers/v1/containers.pb.go
  cli/server/protos/contexts/v1/contexts.pb.go
  cli/server/protos/streams/v1/streams.pb.go
  cli/server/protos/volumes/v1/volumes.pb.go
  cli/server/proxy/compose.go
  ecs/list.go
  ecs/local/compose.go
  kube/compose.go
  local/compose/ls.go
  local/e2e/compose/fixtures/start-stop/compose.yml
  local/e2e/compose/start_stop_test.go
Labels: aci, api, cli, ecs, kube, local

#1255 Add Azure sovereign cloud support
  .gitignore
  aci/backend.go
  aci/backend_test.go
  aci/cloud.go
  aci/convert/registry_credentials.go
  aci/convert/registry_credentials_test.go
  aci/login/client.go
  aci/login/client_test.go
  aci/login/cloud_environment.go
  aci/login/cloud_environment_test.go
  aci/login/helper.go
  aci/login/login.go
  aci/login/login_test.go
  aci/login/token_store.go
  cli/cmd/login/azurelogin.go
Labels: aci, cli

#1351 Scan suggest message when compose build / compose up
  go.sum
  local/compose/build.go
  local/compose/scan_suggest.go
Labels: compose, local

#1352 ACI workaround invocation does not return, but container is actually running OK, trying to not block on this.
  aci/e2e/e2e-aci_test.go
Labels: aci

#1356 Validate cross build on all platforms only on the main branch, not every PR
  .github/workflows/ci.yml
Labels: ci
