Repository docker/compose-cli, pull requests merged in 2021-04, with the labels that each got.

#1485 Use old build for windows engine also on compose up
  local/compose/build.go
  local/compose/build_win.go
Labels: local

#1487 make metrics' source configuration (see compose-switch)
  cli/metrics/client.go
Labels: cli, metrics

#1496 add support for COMPOSE_PROFILES
  cli/cmd/compose/compose.go
Labels: cli

#1494 Track cancel exit code from docker cli shellout to report correct status in metrics
  cli/mobycli/exec.go
Labels: cli

#1497 don't use filepath to process remote bind paths
  local/compose/create.go
Labels: local

#1467 Add plain tail messages on progress writer
  api/progress/noop.go
  api/progress/plain.go
  api/progress/tty.go
  api/progress/writer.go
  local/compose/pull.go
  local/compose/push.go
Labels: api, local

#1495 deadlock waiting for services when none selected
  cli/cmd/compose/up.go
Labels: cli

#1483 make windows "kill children process" code simpler
  cli/mobycli/job_windows.go
  go.mod
Labels: cli

#1501 Replace custom error type for exit code with existing one from docker/cli
  cli/cmd/compose/run.go
  cli/cmd/compose/up.go
  cli/cmd/exit.go
  cli/cmd/version.go
  cli/main.go
Labels: cli

#1502 add support for service_completed_successfully
  local/compose/convergence.go
  local/e2e/compose/compose_test.go
  local/e2e/compose/fixtures/init-container/compose.yaml
Labels: local

#1509 pause/unpause only need project name. use getContainers where possible
  aci/compose.go
  api/client/compose.go
  api/compose/api.go
  cli/cmd/compose/pause.go
  ecs/local/compose.go
  ecs/up.go
  kube/compose.go
  local/compose/attach.go
  local/compose/containers.go
  local/compose/create.go
  local/compose/down.go
  local/compose/kill.go
  local/compose/labels.go
  local/compose/logs.go
  local/compose/pause.go
  local/compose/ps.go
  local/compose/remove.go
  local/compose/run.go
  local/compose/status.go
  local/compose/stop.go
  local/compose/top.go
Labels: aci, api, cli, ecs, kube, local

#1505 Add `compose images` cmd
  aci/compose.go
  api/client/compose.go
  api/compose/api.go
  cli/cmd/compose/compose.go
  cli/cmd/compose/images.go
  ecs/images.go
  ecs/local/compose.go
  kube/compose.go
  local/compose/images.go
  local/e2e/compose/compose_test.go
Labels: aci, api, cli, ecs, kube, local

#1511 Avoid race between parallel tests, add specific build sample for scan_message_test
  local/e2e/compose/compose_test.go
  local/e2e/compose/fixtures/simple-build-test/compose.yml
  local/e2e/compose/fixtures/simple-build-test/nginx-build/Dockerfile
  local/e2e/compose/fixtures/simple-build-test/nginx-build/static/index.html
  local/e2e/compose/scan_message_test.go
Labels: local

#1464 Refactor `up --build` behavior
  cli/cmd/compose/up.go
  local/compose/build.go
  local/compose/convergence.go
  local/compose/create.go
  local/compose/down.go
  local/compose/down_test.go
  local/compose/run.go
  local/compose/status.go
Labels: cli, local

#1522 Ignore previous CFM events on update to avoid false positive errors
  ecs/up.go
Labels: ecs

#1525 Fix compose config --profiles
  cli/cmd/compose/compose.go
  cli/cmd/compose/convert.go
Labels: cli

#1528 configure container limits and resources
  go.mod
  go.sum
  local/compose/create.go
Labels: local

#1503 Metrics failure categories
  cli/cmd/compose/compose.go
  cli/main.go
  cli/metrics/client.go
  cli/metrics/compose_errors.go
  cli/metrics/definitions.go
  local/compose/build.go
  local/compose/pull.go
  local/e2e/cli-only/e2e_test.go
  local/e2e/compose/compose_run_test.go
  local/e2e/compose/fixtures/wrong-composefile/build-error.yml
  local/e2e/compose/fixtures/wrong-composefile/compose.yml
  local/e2e/compose/fixtures/wrong-composefile/service1/Dockerfile
  local/e2e/compose/fixtures/wrong-composefile/unknown-image.yml
  local/e2e/compose/metrics_test.go
  utils/e2e/mockmetrics.go
Labels: api, cli, local, metrics

#1529 pass config file to buildkit for authentication
  local/compose/build.go
Labels: local

#1531 ignore mount options which don't match type
  local/compose/create.go
Labels: local

#1532 Fix scan message with quiet flag
  api/compose/api.go
  cli/cmd/compose/build.go
  cli/metrics/metrics.go
  cli/metrics/metrics_test.go
  cli/mobycli/exec.go
  local/compose/build.go
  local/e2e/compose/scan_message_test.go
  utils/scan_suggest.go
Labels: api, cli, local, metrics

#1512 resize terminal and monitor SIGWINCH
  local/compose/exec.go
  local/compose/resize.go
  local/compose/run.go
Labels: local

#1516 don't include stderr in moby exec output
  cli/mobycli/exec.go
  local/e2e/cli-only/e2e_test.go
Labels: cli, local

#1534 Bump linter minor Dockerfile and CI fixes
  .github/workflows/ci.yml
  Dockerfile
  ecs/autoscaling_test.go
  ecs/cloudformation_test.go
Labels: ci, ecs

#1533 E2e test improvements
  aci/e2e/aci-demo/web/Dockerfile
  local/e2e/compose/fixtures/attach-restart/compose.yaml
  local/e2e/compose/fixtures/build-test/nginx-build/Dockerfile
  local/e2e/compose/fixtures/build-test/nginx-build2/Dockerfile
  local/e2e/compose/fixtures/cascade-stop-test/compose.yaml
  local/e2e/compose/fixtures/ipc-test/compose.yaml
  local/e2e/compose/fixtures/logs-test/compose.yaml
  local/e2e/compose/fixtures/network-test/compose.yaml
  local/e2e/compose/fixtures/restart-test/compose.yml
  local/e2e/compose/fixtures/run-test/compose.yml
  local/e2e/compose/fixtures/simple-build-test/nginx-build/Dockerfile
  local/e2e/compose/fixtures/simple-composefile/compose.yml
  local/e2e/compose/fixtures/start-stop/compose.yml
  local/e2e/compose/fixtures/volume-test/nginx-build/Dockerfile
  local/e2e/compose/ipc_test.go
Labels: aci, local

#1544 only start container once we have a wait channel set, to prevent race
  local/compose/containers.go
  local/compose/convergence.go
  local/compose/exec.go
  local/compose/resize.go
  local/compose/run.go
Labels: local

#1548 Introduce compose version command
  cli/cmd/compose/compose.go
  cli/cmd/compose/version.go
Labels: cli

#1541 don't set aliasses if no network binding was declared
  local/compose/create.go
Labels: local

#1556 Fix volume names to print simple volume names
  cli/cmd/compose/convert.go
Labels: cli

#1562 scale must ignore oneoff containers
  local/compose/containers.go
  local/compose/convergence.go
Labels: local

#1550 Local test cleanup
  aci/e2e/aci-demo/web/Dockerfile
  aci/e2e/aci_secrets_resources/web/Dockerfile
  local/e2e/compose/compose_test.go
  local/e2e/compose/fixtures/attach-restart/compose.yaml
  local/e2e/compose/fixtures/build-test/nginx-build/Dockerfile
  local/e2e/compose/fixtures/build-test/nginx-build2/Dockerfile
  local/e2e/compose/fixtures/cascade-stop-test/compose.yaml
  local/e2e/compose/fixtures/ipc-test/compose.yaml
  local/e2e/compose/fixtures/logs-test/compose.yaml
  local/e2e/compose/fixtures/network-test/compose.yaml
  local/e2e/compose/fixtures/restart-test/compose.yml
  local/e2e/compose/fixtures/run-test/compose.yml
  local/e2e/compose/fixtures/simple-build-test/nginx-build/Dockerfile
  local/e2e/compose/fixtures/simple-composefile/compose.yml
  local/e2e/compose/fixtures/start-stop/compose.yml
  local/e2e/compose/fixtures/volume-test/nginx-build/Dockerfile
  local/e2e/compose/fixtures/wrong-composefile/compose.yml
  local/e2e/compose/ipc_test.go
  local/e2e/compose/scan_message_test.go
  local/e2e/compose/start_stop_test.go
  local/e2e/container/container_test.go
Labels: aci, cli, local

#1573 Fix progress writer network creation and removal
  local/compose/create.go
Labels: local

#1513 Avoid panic: concurrent map writes
  local/compose/images.go
Labels: bug: crash 💥, local

#1577 only stop/remove selected services
  api/compose/api.go
  cli/cmd/compose/images.go
  cli/cmd/compose/remove.go
  cli/cmd/compose/stop.go
  local/compose/remove.go
  local/compose/stop.go
Labels: api, cli, local

#1530 Set image digest as service image to trigger recreation after build
  cli/cmd/compose/images.go
  local/compose/build.go
  local/compose/images.go
Labels: cli, local

#1554 fix race condition with init containers
  go.mod
  go.sum
  local/compose/build.go
  local/compose/convergence.go
Labels: local

#1581 Fix down not working if run from a different folder than up, because container labels stored relative paths
  go.mod
  go.sum
  local/compose/create.go
  local/compose/down.go
  local/compose/kill_test.go
  local/e2e/compose/compose_test.go
Labels: local

#1539 [refactoring] package `compose` as a CLI plugin on local backend
  Dockerfile
  api/compose/delegator.go
  api/compose/noimpl.go
  builder.Makefile
  cli/cmd/compose/build.go
  cli/cmd/compose/compose.go
  cli/cmd/compose/convert.go
  cli/cmd/compose/create.go
  cli/cmd/compose/down.go
  cli/cmd/compose/events.go
  cli/cmd/compose/exec.go
  cli/cmd/compose/images.go
  cli/cmd/compose/kill.go
  cli/cmd/compose/list.go
  cli/cmd/compose/logs.go
  cli/cmd/compose/pause.go
  cli/cmd/compose/port.go
  cli/cmd/compose/ps.go
  cli/cmd/compose/pull.go
  cli/cmd/compose/push.go
  cli/cmd/compose/remove.go
  cli/cmd/compose/restart.go
  cli/cmd/compose/run.go
  cli/cmd/compose/start.go
  cli/cmd/compose/stop.go
  cli/cmd/compose/top.go
  cli/cmd/compose/up.go
  cli/config/flags.go
  cli/config/flags_test.go
  cli/main.go
  cli/main_test.go
  cli/metrics/definitions.go
  cli/mobycli/exec.go
  docs/yaml/main/generate.go
  ecs/local/backend.go
  local/backend.go
  local/compose/build.go
  local/compose/compose.go
  local/compose/pull.go
  local/e2e/compose/compose_test.go
  local/e2e/compose/fixtures/build-infinite/docker-compose.yml
  local/e2e/compose/fixtures/build-infinite/service1/Dockerfile
  local/e2e/compose/metrics_test.go
  main.go
  utils/e2e/framework.go
Labels: api, cli, documentation

#1578 fix typo in ecs-architecture.md
  docs/ecs-architecture.md
Labels: documentation

#1588 On default context, "compose" is implemented by CLI Plugin
  cli/main.go
Labels: cli

#1586 Adapt compose tests to pass with Desktop Windows
  local/e2e/compose/cancel_test.go
  local/e2e/compose/compose_test.go
  local/e2e/compose/metrics_test.go
Labels: cli, local

#1596 load sibling compose-override file when auto-discovered from parent dir
  cli/cmd/compose/compose.go
  go.mod
  go.sum
Labels: cli

#1603 Separate compose CLI plugin version from Cloud integration version
  builder.Makefile
  cli/cmd/compose/version.go
  internal/variables.go
  main.go
Labels: cli

#1604 when bind mount has CreateHostPath set, use bind API
  go.mod
  go.sum
  local/compose/create.go
  local/e2e/compose/volumes_test.go
Labels: local

#1609 docker compose exec to return command exit code
  aci/compose.go
  api/client/compose.go
  api/compose/api.go
  api/compose/delegator.go
  api/compose/noimpl.go
  cli/cmd/compose/exec.go
  ecs/exec.go
  ecs/local/compose.go
  kube/compose.go
  local/compose/exec.go
  local/e2e/compose/compose_exec_test.go
Labels: aci, api, cli, ecs, kube, local

#1610 resolve build args without value from environment
  api/compose/api.go
  cli/cmd/compose/build.go
  local/compose/build.go
  local/e2e/compose/compose_build_test.go
Labels: api, cli, local

#1614 cli.compose: Add missing \n for version
  cli/cmd/compose/version.go
Labels: cli

#1618 down --volume to remove volume
  local/compose/create.go
  local/compose/down.go
  local/compose/down_test.go
  local/e2e/compose/volumes_test.go
Labels: local

#1616 handle dependency involved by shared PID namespace
  local/compose/create.go
Labels: local

#1606 Add rm --all flag for backward compatibility (deprecated - no effect)
  cli/cmd/compose/remove.go
Labels: cli
