Repository docker/compose-cli, pull requests merged in 2021-06, with the labels that each got.

#1729 remove obsolete compose grpc service
  cli/cmd/serve.go
  cli/server/metrics_test.go
  cli/server/protos/compose/v1/compose.pb.go
  cli/server/protos/compose/v1/compose.proto
  cli/server/protos/compose/v1/doc.go
  cli/server/proxy/compose.go
  cli/server/proxy/proxy.go
Labels: api, cli

#1730 code cleanup: most progress.Run don't return a value
  api/progress/writer.go
  cli/cmd/compose/build.go
  cli/cmd/compose/down.go
  cli/cmd/compose/pause.go
  cli/cmd/compose/pull.go
  cli/cmd/compose/push.go
  cli/cmd/compose/remove.go
  cli/cmd/compose/restart.go
  cli/cmd/compose/run.go
  cli/cmd/compose/start.go
  cli/cmd/compose/stop.go
  cli/cmd/compose/up.go
  cli/cmd/run/run.go
  cli/cmd/volume/command.go
Labels: api, cli

#1735 Move progress writter into backend(s)
  aci/compose.go
  api/client/compose.go
  api/compose/api.go
  api/compose/proxy.go
  cli/cmd/compose/build.go
  cli/cmd/compose/compose.go
  cli/cmd/compose/kill.go
  cli/cmd/compose/pause.go
  cli/cmd/compose/pull.go
  cli/cmd/compose/push.go
  cli/cmd/compose/remove.go
  cli/cmd/compose/restart.go
  cli/cmd/compose/start.go
  cli/cmd/compose/stop.go
  ecs/local/compose.go
  ecs/run.go
  kube/compose.go
  local/compose/build.go
  local/compose/pause.go
  local/compose/pull.go
  local/compose/push.go
  local/compose/remove.go
  local/compose/restart.go
  local/compose/start.go
  local/compose/stop.go
Labels: aci, api, cli, ecs, kube, local

#1733 stop using buildkit hack to pull images
  local/compose/build.go
  local/compose/pull.go
  local/e2e/compose/metrics_test.go
Labels: local

#1749 mobycli: ignore SIGURG on Linux and Darwin
  cli/mobycli/exec.go
  cli/mobycli/exec_unix.go
  cli/mobycli/exec_windows.go
Labels: cli

#1747 move progress to backend on "down"
  aci/compose.go
  cli/cmd/compose/compose.go
  cli/cmd/compose/down.go
  ecs/down.go
  kube/compose.go
  local/compose/down.go
Labels: aci, cli, ecs, kube, local

#1751 only report pull progress if we have something to pull
  local/compose/pull.go
Labels: local

#1758 Kube backend updates
  kube/client/client.go
  kube/client/utils.go
  kube/compose.go
  kube/helm/helm.go
  kube/resources/kube.go
Labels: kube

#1752 move up logic from CLI into local backend
  aci/compose.go
  api/compose/api.go
  cli/cmd/compose/compose.go
  cli/cmd/compose/create.go
  cli/cmd/compose/kill.go
  cli/cmd/compose/run.go
  cli/cmd/compose/up.go
  ecs/up.go
  kube/compose.go
  local/compose/compose.go
  local/compose/create.go
  local/compose/kill.go
  local/compose/kill_test.go
  local/compose/start.go
  local/compose/up.go
Labels: aci, api, cli, ecs, kube, local

#1760 code cleanup: splitWriter does not use service/container name
  kube/client/client.go
  local/compose/attach.go
  local/compose/logs.go
  utils/logs.go
  utils/writer.go
  utils/writer_test.go
Labels: kube, local

#1757 update reference docs
  cli/cmd/compose/build.go
  cli/cmd/compose/exec.go
  cli/cmd/compose/run.go
  docs/reference/compose_build.md
  docs/reference/compose_cp.md
  docs/reference/compose_images.md
  docs/reference/compose_port.md
  docs/reference/compose_ps.md
  docs/reference/compose_restart.md
  docs/reference/compose_run.md
  docs/reference/compose_top.md
  docs/reference/docker_compose.yaml
  docs/reference/docker_compose_build.yaml
  docs/reference/docker_compose_cp.yaml
  docs/reference/docker_compose_exec.yaml
  docs/reference/docker_compose_port.yaml
  docs/reference/docker_compose_ps.yaml
  docs/reference/docker_compose_run.yaml
  docs/reference/docker_compose_top.yaml
Labels: cli, documentation

#1765 LogPrinter should not be part of the API
  local/compose/printer.go
  local/compose/start.go
  local/compose/up.go
Labels: local

#1768 include packaging LICENSE in release
  .github/workflows/cli-release.yaml
  .github/workflows/plugin-release.yaml
Labels: ci

#1770 fix broken network_alias_test
  local/compose/create.go
  local/e2e/compose/fixtures/network-alias/compose.yaml
Labels: local

#1766 config --profiles to list all defined profiles
  cli/cmd/compose/convert.go
Labels: cli

#1767 automatically disable TTY if shell isn't a terminal
  cli/cmd/compose/exec.go
  cli/cmd/compose/run.go
  local/compose/exec.go
  local/e2e/compose/networks_test.go
Labels: cli, local

#1782 fix volume inheritance and conflict with trailing '/'
  local/compose/create.go
Labels: local

#1787 `compose down -v` also removes anonymous volumes
  local/compose/build.go
  local/compose/create.go
  local/compose/down.go
  local/compose/down_test.go
Labels: local

#1791 Add docker compose logs --since option
  cmd/compose/logs.go
  pkg/api/api.go
  pkg/compose/logs.go
Labels: api, cli, local

#1793 Set container links
  local/e2e/compose/fixtures/network-alias/compose.yaml
  local/e2e/compose/networks_test.go
  pkg/compose/convergence.go
Labels: local

#1826 IL-250 Look for docker cli next to the current executable
  cli/mobycli/exec.go
Labels: cli

#1829 compose ps to include container command
  cmd/compose/ps.go
  local/e2e/compose/compose_test.go
  local/e2e/compose/restart_test.go
  local/e2e/compose/start_stop_test.go
  pkg/api/api.go
  pkg/compose/ps.go
Labels: local

#1831 inherit anoymous volumes
  local/e2e/compose/volumes_test.go
  pkg/compose/create.go
Labels: local

#1839 automation to remove pending label on new comment
  .github/workflows/pending_answered.yml
Labels: ci

#1841 introduce `convergence` to hold per-service Containers and prevent race conditions
  local/e2e/compose/ipc_test.go
  local/e2e/compose/networks_test.go
  pkg/compose/convergence.go
  pkg/compose/create.go
  pkg/compose/dependencies.go
  pkg/compose/dependencies_test.go
  pkg/compose/down.go
  pkg/compose/filters.go
  pkg/compose/restart.go
  pkg/compose/run.go
  pkg/compose/start.go
  pkg/compose/status.go
  pkg/compose/stop.go
Labels: local

#1845 Fix references to docker-compose command
  docs/reference/compose.md
Labels: documentation

#1847 Move compose e2e tests into pkg
  .github/workflows/ci.yml
  Makefile
  local/e2e/compose/metrics_test.go
  local/e2e/compose/scan_message_test.go
  pkg/e2e/cancel_test.go
  pkg/e2e/cascade_stop_test.go
  pkg/e2e/compose_build_test.go
  pkg/e2e/compose_exec_test.go
  pkg/e2e/compose_run_test.go
  pkg/e2e/compose_test.go
  pkg/e2e/cp_test.go
  pkg/e2e/fixtures/attach-restart/compose.yaml
  pkg/e2e/fixtures/build-infinite/compose.yaml
  pkg/e2e/fixtures/build-infinite/service1/Dockerfile
  pkg/e2e/fixtures/build-test/compose.yaml
  pkg/e2e/fixtures/build-test/nginx-build/Dockerfile
  pkg/e2e/fixtures/build-test/nginx-build/static/index.html
  pkg/e2e/fixtures/build-test/nginx-build2/Dockerfile
  pkg/e2e/fixtures/build-test/nginx-build2/static2/index.html
  pkg/e2e/fixtures/cascade-stop-test/compose.yaml
  pkg/e2e/fixtures/cp-test/compose.yaml
  pkg/e2e/fixtures/cp-test/cp-folder/cp-me.txt
  pkg/e2e/fixtures/cp-test/cp-me.txt
  pkg/e2e/fixtures/init-container/compose.yaml
  pkg/e2e/fixtures/ipam/compose.yaml
  pkg/e2e/fixtures/ipc-test/compose.yaml
  pkg/e2e/fixtures/logs-test/compose.yaml
  pkg/e2e/fixtures/network-alias/compose.yaml
  pkg/e2e/fixtures/network-test/compose.yaml
  pkg/e2e/fixtures/restart-test/compose.yaml
  pkg/e2e/fixtures/run-test/compose.yaml
  pkg/e2e/fixtures/sentences/compose.yaml
  pkg/e2e/fixtures/simple-build-test/compose.yaml
  pkg/e2e/fixtures/simple-build-test/nginx-build/Dockerfile
  pkg/e2e/fixtures/simple-build-test/nginx-build/static/index.html
  pkg/e2e/fixtures/simple-composefile/compose.yaml
  pkg/e2e/fixtures/start-stop/compose.yaml
  pkg/e2e/fixtures/volume-test/compose.yaml
  pkg/e2e/fixtures/volume-test/nginx-build/Dockerfile
  pkg/e2e/fixtures/volume-test/static/index.html
  pkg/e2e/fixtures/wrong-composefile/build-error.yml
  pkg/e2e/fixtures/wrong-composefile/compose.yaml
  pkg/e2e/fixtures/wrong-composefile/service1/Dockerfile
  pkg/e2e/fixtures/wrong-composefile/unknown-image.yml
  pkg/e2e/framework.go
  pkg/e2e/ipc_test.go
  pkg/e2e/logs_test.go
  pkg/e2e/metrics_test.go
  pkg/e2e/networks_test.go
  pkg/e2e/restart_test.go
  pkg/e2e/scan_message_test.go
  pkg/e2e/start_stop_test.go
  pkg/e2e/volumes_test.go
  pkg/utils/scan_suggest.go
Labels: ci, local
