Repository docker/compose-cli, pull requests merged in 2021-11, with the labels that each got.

#2095 Fix plugin command delegation for version
  cli/main.go
Labels: cli

#2102 Fix a typo
  docs/aci-container-features.md
Labels: documentation

#2111 [ECS] Add support for passing in docker labels.
  ecs/compatibility.go
  ecs/convert.go
Labels: ecs

#2104 Build metrics
  cli/metrics/commands.go
  cli/metrics/generatecommands/main.go
  cli/metrics/metadata/build.go
  cli/metrics/metadata/build_test.go
  cli/metrics/metadata/metadata.go
  cli/metrics/metadata/testdata/buildx-container/current
  cli/metrics/metadata/testdata/buildx-container/instances/builder
  cli/metrics/metadata/testdata/buildx-default/current
  cli/metrics/metadata/testdata/buildx-default/instances/graviton2
  cli/metrics/metrics.go
  cli/metrics/metrics_test.go
  local/e2e/cli-only/e2e_test.go
  local/e2e/cli-only/testdata/buildx-config/current
  local/e2e/cli-only/testdata/buildx-config/instances/builder
  local/e2e/cli-only/testdata/buildx-config/instances/graviton2
Labels: cli, metrics, local

#2117 fix: panic with ec2 source less volumes
  ecs/autoscaling_test.go
  ecs/cloudformation.go
  ecs/cloudformation_test.go
  ecs/ec2_test.go
Labels: ecs
