Repository docker/compose-cli, pull requests merged in 2021-03, with the labels that each got.

#1357 Fix typos in docs/ecs-compose-features.md
  docs/ecs-compose-features.md
Labels: documentation

#1353 Fix --project-directory mix with --workdir
  cli/cmd/compose/compose.go
  local/e2e/compose/compose_build_test.go
  local/e2e/compose/compose_test.go
  local/e2e/compose/volumes_test.go
Labels: cli, local

#1376 introduce --renew-anon-volumes
  api/compose/api.go
  cli/cmd/compose/up.go
  local/compose/convergence.go
  local/compose/create.go
Labels: api, cli, local

#1375 introduce --always-recreate-deps
  api/compose/api.go
  cli/cmd/compose/up.go
  local/compose/create.go
Labels: api, cli, local

#1378 support compose build --pull
  aci/compose.go
  api/client/compose.go
  api/compose/api.go
  cli/cmd/compose/build.go
  ecs/local/compose.go
  ecs/up.go
  kube/compose.go
  local/compose/build.go
Labels: aci, api, cli, ecs, kube, local

#1377 introduce pull --include-deps
  api/compose/api.go
  cli/cmd/compose/pull.go
  cli/cmd/compose/run.go
  cli/cmd/compose/up.go
  cli/cmd/compose/up_test.go
  local/compose/convergence.go
  local/compose/create.go
Labels: api, cli, local

#1381 Fix compose up --build not forcing rebuild of present image
  local/compose/build.go
  local/e2e/compose/compose_build_test.go
  local/e2e/compose/fixtures/build-test/compose.yml
  local/e2e/compose/fixtures/build-test/nginx-build2/Dockerfile
  local/e2e/compose/fixtures/build-test/nginx-build2/static2/index.html
Labels: local

#1388 Display available azure cloud names in azure login help
  cli/cmd/login/azurelogin.go
Labels: cli

#1383 Add --attach-dependencies
  api/compose/api.go
  cli/cmd/compose/up.go
  local/compose/attach.go
  local/compose/containers.go
  local/compose/pause.go
  local/compose/remove.go
  local/compose/start.go
Labels: api, cli, local

#1380 introduce --build-args option
  aci/convert/container.go
  api/compose/api.go
  cli/cmd/compose/build.go
  go.mod
  go.sum
  local/compose/build.go
  local/e2e/compose/compose_build_test.go
  local/e2e/compose/fixtures/build-test/nginx-build/Dockerfile
Labels: aci, api, cli, local

#1379 Kube backend updates from Hack days
  cli/cmd/compose/convert.go
  kube/client/client.go
  kube/client/utils.go
  kube/compose.go
  kube/e2e/compose_test.go
  kube/resources/kube.go
  kube/resources/secrets.go
  kube/resources/volumes.go
Labels: cli, kube

#1395 Don’t use context for scan suggest message, use cliconfig.Dir() as in scan plugin for consistency
  local/compose/build.go
  local/compose/scan_suggest.go
Labels: local

#1399 Add `ignore-push-failures` flag to `compose push`
  aci/compose.go
  api/client/compose.go
  api/compose/api.go
  cli/cmd/compose/push.go
  ecs/local/compose.go
  ecs/up.go
  kube/compose.go
  local/compose/push.go
Labels: aci, api, cli, ecs, kube, local

#1392 implement -v, -p, --service-ports and --use-aliases on compose run
  api/compose/api.go
  cli/cmd/compose/run.go
  local/compose/convergence.go
  local/compose/run.go
  local/e2e/compose/compose_run_test.go
Labels: api, cli, local

#1398 Add `compose top` command
  aci/compose.go
  api/client/compose.go
  api/compose/api.go
  cli/cmd/compose/compose.go
  cli/cmd/compose/top.go
  ecs/local/compose.go
  ecs/top.go
  kube/compose.go
  local/compose/top.go
  local/e2e/compose/compose_test.go
Labels: aci, api, cli, ecs, kube, local

#1354 Take `platform` in account on pulling and building images
  local/compose/build.go
  local/compose/convergence.go
  local/compose/pull.go
Labels: local

#1396 introduce docker compose events
  aci/compose.go
  api/client/compose.go
  api/compose/api.go
  cli/cmd/compose/compose.go
  cli/cmd/compose/events.go
  cli/formatter/colors.go
  cli/formatter/logs.go
  ecs/local/compose.go
  ecs/up.go
  go.mod
  kube/compose.go
  local/compose/attach.go
  local/compose/create.go
  local/compose/events.go
  local/compose/run.go
  local/compose/start.go
  local/e2e/compose/compose_test.go
  local/e2e/compose/fixtures/attach-restart/compose.yaml
Labels: aci, api, cli, ecs, kube, local

#1400 Add connection flags to root command
  api/context/context.go
  cli/cmd/version.go
  cli/main.go
  cli/main_test.go
  cli/options/options.go
  local/backend.go
  local/containers.go
  local/e2e/cli-only/e2e_test.go
  local/volumes.go
Labels: api, cli, local

#1410 Add remote engine context e2e
  local/e2e/cli-only/e2e_test.go
Labels: cli, local

#1390 Add `quietPull` option to `up`
  api/compose/api.go
  cli/cmd/compose/up.go
  go.mod
  go.sum
  local/compose/build.go
  local/compose/create.go
  local/compose/run.go
Labels: api, cli, local

#1417 Adding support for compose file attributes
  local/compose/build.go
  local/compose/create.go
Labels: local

#1413 refactoring: create backend in main then pass as command target
  aci/backend.go
  api/backend/backend.go
  api/client/client.go
  api/config/config.go
  api/context/context.go
  api/context/store/store.go
  cli/cmd/compose/build.go
  cli/cmd/compose/convert.go
  cli/cmd/compose/down.go
  cli/cmd/compose/events.go
  cli/cmd/compose/exec.go
  cli/cmd/compose/kill.go
  cli/cmd/compose/list.go
  cli/cmd/compose/logs.go
  cli/cmd/compose/pause.go
  cli/cmd/compose/ps.go
  cli/cmd/compose/pull.go
  cli/cmd/compose/push.go
  cli/cmd/compose/remove.go
  cli/cmd/compose/start.go
  cli/cmd/compose/stop.go
  cli/cmd/compose/top.go
  cli/cmd/compose/up.go
  cli/cmd/context/create.go
  cli/cmd/context/create_aci.go
  cli/cmd/context/create_ecs.go
  cli/cmd/context/create_kube.go
  cli/cmd/context/ls.go
  cli/cmd/context/rm.go
  cli/cmd/context/show.go
  cli/cmd/context/update.go
  cli/cmd/context/use.go
  cli/main.go
  cli/mobycli/exec.go
  cli/server/interceptor.go
  cli/server/interceptor_test.go
  cli/server/proxy/contexts.go
  cli/server/proxy/proxy.go
  ecs/backend.go
  ecs/cloudformation.go
  ecs/local/backend.go
  go.mod
  kube/backend.go
  kube/compose.go
  local/backend.go
  local/compose/pull.go
  local/compose/push.go
Labels: aci, api, cli, ecs, kube, local

#1424 Map composefiles privileged, isolation
  local/compose/create.go
Labels: local

#1429 Fix log expectation with random exec order
  local/e2e/compose/compose_test.go
Labels: local

#1422 Fix build image label mapping
  local/compose/build.go
Labels: local

#1433 use "container name witout project" for both logs and events
  api/compose/api.go
  cli/cmd/compose/up.go
  cli/formatter/logs.go
  ecs/aws.go
  ecs/aws_mock.go
  ecs/sdk.go
  kube/client/client.go
  local/compose/attach.go
  local/compose/logs.go
  local/compose/start.go
  local/e2e/compose/compose_test.go
  local/mocks/mock_docker_api.go
  utils/logs.go
  utils/logs_test.go
  utils/prompt/prompt_mock.go
Labels: aci, api, cli, ecs, kube, local

#1435 add support for a few more composefile attributes
  local/compose/build.go
  local/compose/create.go
Labels: local

#1437 Cleanup remaining containers after compose e2e tests
  local/e2e/compose/compose_run_test.go
  local/e2e/compose/compose_test.go
Labels: local

#1415 Add restart command
  aci/compose.go
  api/client/compose.go
  api/compose/api.go
  api/progress/event.go
  cli/cmd/compose/compose.go
  cli/cmd/compose/restart.go
  docs/reference/compose_restart.md
  docs/reference/docker_compose.yaml
  docs/reference/docker_compose_restart.yaml
  ecs/local/compose.go
  ecs/up.go
  kube/compose.go
  local/compose/convergence.go
  local/compose/restart.go
  local/compose/status.go
  local/e2e/compose/fixtures/restart-test/compose.yml
  local/e2e/compose/restart_test.go
Labels: aci, api, cli, documentation, ecs, kube, local

#1443 introduce --parallel and --no-parallel (hidden, deprecated) flags
  cli/cmd/compose/compose.go
  cli/cmd/compose/pull.go
Labels: cli

#1438 introduce `port` command for parity with docker-compose
  aci/compose.go
  api/client/compose.go
  api/compose/api.go
  cli/cmd/compose/compose.go
  cli/cmd/compose/port.go
  cli/cmd/compose/ps.go
  cli/cmd/compose/pull.go
  cli/cmd/compose/up.go
  ecs/local/compose.go
  ecs/up.go
  kube/compose.go
  local/compose/port.go
  local/e2e/compose/networks_test.go
Labels: aci, api, cli, ecs, kube, local

#1439 Support build.context with git URLs
  local/compose/build.go
Labels: local

#1444 introduce config --services, --volumes, --hash for backward compatibility
  cli/cmd/compose/convert.go
  local/compose/containers.go
  local/compose/convergence.go
  local/compose/create.go
  local/compose/dependencies.go
  local/compose/logs.go
  utils/hash.go
Labels: cli, local

#1446 Added deprecated build flags parallel, compress, force-rm
  cli/cmd/compose/build.go
Labels: cli

#1448 --no-interpolate
  cli/cmd/compose/compose.go
  cli/cmd/compose/convert.go
  go.mod
  go.sum
Labels: cli

#1445 Deprecated flag --no-ansi
  cli/cmd/compose/compose.go
  cli/cmd/compose/pull.go
Labels: cli

#1451 Down sigterm
  cli/cmd/compose/up.go
  local/compose/attach.go
  local/compose/start.go
Labels: cli, local

#1454 Add --ignore-pull-failures to command pull
  aci/compose.go
  api/client/compose.go
  api/compose/api.go
  cli/cmd/compose/pull.go
  ecs/local/compose.go
  ecs/up.go
  kube/compose.go
  local/compose/pull.go
Labels: aci, api, cli, ecs, kube, local

#1455 Reuse container list on command down
  local/compose/down.go
  local/compose/down_test.go
  local/compose/kill_test.go
  local/compose/stop_test.go
Labels: cli, local

#1463 Add IPC support
  local/compose/create.go
  local/e2e/compose/fixtures/ipc-test/compose.yaml
  local/e2e/compose/ipc_test.go
Labels: local

#1462 set terminal in character mode when attached to a container
  api/compose/api.go
  local/compose/attach.go
  local/compose/create.go
  local/compose/run.go
  utils/logs.go
Labels: api, local

#1475 Add scan message after docker build, add e2e tests
  cli/mobycli/exec.go
  local/compose/build.go
  local/e2e/compose/scan_message_test.go
  utils/scan_suggest.go
Labels: cli, local

#1478 introduce config --profiles for parity with docker-compose
  cli/cmd/compose/convert.go
Labels: cli

#1474 Shell out to docker cli for windows container builds
  cli/mobycli/exec.go
  local/compose/build.go
  local/compose/build_win.go
Labels: ci, cli, local

#1470 Add `no-cache` build flag
  api/compose/api.go
  cli/cmd/compose/build.go
  local/compose/build.go
Labels: api, cli, local
