Repository docker/compose-cli, pull requests merged in 2021-09, with the labels that each got.

#2064 fix release project to build with GIT_TAG
  .github/workflows/cli-release.yaml
Labels: ci

#2039 Error on unsupported flags
  aci/compose.go
  api/config/config.go
  cli/main.go
  ecs/cloudformation.go
  ecs/down.go
  ecs/images.go
  ecs/list.go
  ecs/logs.go
  ecs/notimplemented.go
  ecs/ps.go
  ecs/run.go
  ecs/top.go
  ecs/up.go
  go.mod
  go.sum
  kube/compose.go
  utils/check.go
  utils/units.go
Labels: aci, api, cli, ecs, ci, kube

#1879 signals
  cli/cmd/context/context.go
  cli/cmd/context/create.go
  cli/cmd/context/inspect.go
  cli/cmd/context/ls.go
  cli/cmd/context/update.go
  cli/cmd/login/login.go
  cli/cmd/logout/logout.go
  cli/cmd/version.go
  cli/main.go
  cli/mobycli/exec.go
  cli/mobycli/exec_unix.go
  cli/mobycli/exec_windows.go
Labels: cli

#2076 Allow compose exec to accept a specific instance in kube backend
  kube/client/client.go
Labels: kube
