Repository docker/compose-cli, pull requests merged in 2021-07, with the labels that each got.

#1877 Issue template should ask for docker-compose version
  .github/ISSUE_TEMPLATE.md
Labels: ci

#1878 distinguish stdout and stderr
  cmd/compose/exec.go
  cmd/compose/run.go
  kube/client/client.go
  pkg/api/api.go
  pkg/compose/attach.go
  pkg/compose/exec.go
  pkg/compose/run.go
Labels: cli, kube

#1884 Do not strip "v" prefix from version when printing
  cli/cmd/version.go
  cmd/compose/version.go
  cmd/main.go
Labels: cli

#1897 Fix help text when for context create and kube backend
  cli/cmd/context/create_kube.go
Labels: cli

#1901 Fix races
  kube/client/client.go
  pkg/compose/convergence.go
  pkg/compose/cp.go
  pkg/compose/dependencies.go
  pkg/compose/down.go
  pkg/compose/logs.go
  pkg/compose/ps.go
  pkg/compose/pull.go
  pkg/compose/remove.go
  pkg/compose/restart.go
  pkg/compose/top.go
Labels: kube

#1906 Fix container name used in kube log output
  kube/client/client.go
Labels: kube

#1852 Detect new containers on logs --follow
  kube/compose.go
  pkg/api/proxy.go
  pkg/compose/logs.go
  pkg/compose/start.go
Labels: aci, api, ecs, kube

#1890 Add dry run workflow to test release
  .github/workflows/cli-release.yaml
Labels: ci

#1943 Add a post-login message to promote personal access tokens
  cli/mobycli/exec.go
  cli/mobycli/pat_suggest.go
  cli/mobycli/pat_suggest_test.go
Labels: cli

#1773 Completion
  cli/main.go
  cmd/compose/build.go
  cmd/compose/completion.go
  cmd/compose/compose.go
  cmd/compose/convert.go
  cmd/compose/cp.go
  cmd/compose/create.go
  cmd/compose/down.go
  cmd/compose/events.go
  cmd/compose/exec.go
  cmd/compose/images.go
  cmd/compose/kill.go
  cmd/compose/list.go
  cmd/compose/logs.go
  cmd/compose/pause.go
  cmd/compose/port.go
  cmd/compose/ps.go
  cmd/compose/pull.go
  cmd/compose/push.go
  cmd/compose/remove.go
  cmd/compose/restart.go
  cmd/compose/run.go
  cmd/compose/start.go
  cmd/compose/stop.go
  cmd/compose/top.go
  cmd/compose/up.go
Labels: cli

#1942 stop using helm fork for oras dependency conflict
  cli/server/proxy/streams/io.go
  cli/server/proxy/streams/stream_test.go
  go.mod
  go.sum
Labels: cli

#1952 Update personal access token url
  cli/mobycli/pat_suggest.go
Labels: cli

#1953 Post-login msg: Ignore if password is empty
  cli/mobycli/pat_suggest.go
  cli/mobycli/pat_suggest_test.go
Labels: cli

#1916 Allow unspecified protocol on exposed port in kube backend
  kube/resources/kube.go
Labels: kube
