Repository docker/compose-cli, pull requests merged in 2021-01, with the labels that each got.

#1091 Add support for .env file when loading compose files
  cli/cmd/compose/compose.go
Labels: cli

#1087 Refactor ProjectName
  api/compose/api.go
  cli/cmd/compose/compose.go
  cli/cmd/compose/convert.go
  cli/cmd/compose/down.go
  cli/cmd/compose/list.go
  cli/cmd/compose/logs.go
  cli/cmd/compose/run.go
  cli/cmd/compose/up.go
  local/compose/run.go
  server/proxy/compose.go
Labels: api, cli, local

#1094 Add metadata for docs included in docs.docker.com
  docs/aci-compose-features.md
  docs/aci-container-features.md
  docs/architecture.md
  docs/ecs-architecture.md
  docs/ecs-compose-examples.md
  docs/ecs-compose-features.md
Labels: documentation

#1099 Split optional CI workflows to allow re-running only ACI, ECS or Windows
  .github/workflows/aci-tests.yml
  .github/workflows/ecs-tests.yml
  .github/workflows/optional-ci.yml
  .github/workflows/windows-ci.yml
  README.md
Labels: ci

#1095 ignore services without image attribute
  local/compose/pull.go
  local/compose/push.go
Labels: local

#1103 When running compose down, remove containers with Force=true
  local/compose/down.go
Labels: local

#1107 Add GPU support via DeviceRequests
  ecs/convert.go
  go.mod
  go.sum
  local/compose/create.go
Labels: ecs, local

#1106 introduce --remove-orphans option
  aci/compose.go
  api/client/compose.go
  api/compose/api.go
  cli/cmd/compose/run.go
  cli/cmd/compose/up.go
  ecs/local/compose.go
  ecs/up.go
  example/backend.go
  local/compose/containers.go
  local/compose/convergence.go
  local/compose/create.go
  local/compose/down.go
Labels: aci, api, cli, ecs, local

#1110 handle API pagination
  ecs/sdk.go
Labels: ecs

#1111 ECS: Parse DeviceRequest struct for GPU access setup
  docs/ecs-compose-examples.md
  ecs/compatibility.go
  ecs/convert.go
  ecs/gpu.go
Labels: documentation, ecs

#1079 Use `container_name` property on service
  formatter/logs.go
  local/compose/attach.go
  local/compose/compose.go
  local/compose/containers.go
  local/compose/convergence.go
  local/compose/convergence_test.go
  local/compose/create.go
  local/compose/down.go
  local/compose/ps.go
Labels: aci, api, ci, cli, documentation, ecs, local

#1113 Implement secrets via bind-mounts for local compose
  local/compose/create.go
  local/compose/util.go
Labels: local

#1114 Setup docker cli on gha
  .github/workflows/aci-tests.yml
  .github/workflows/ci.yml
  .github/workflows/ecs-tests.yml
  .github/workflows/release.yaml
  .github/workflows/windows-ci.yml
Labels: ci

#1118 Do not send metrics if executed as CLI backend
  metrics/metrics.go
Labels: metrics

#1120 Resolve service images by digest before deploying to ECS
  ecs/cloudformation.go
  go.mod
  go.sum
Labels: ecs

#1116 add support for overlays on generated cloudformation template
  ecs/cloudformation.go
  ecs/up.go
  ecs/x.go
  go.mod
  go.sum
Labels: api, cli, ecs

#1122 s3 bucket name must be unique. Create bucket with uuid name
  ecs/sdk.go
Labels: ecs

#1123 Use LoadBalancer's VPC and subnet when x-aws-loadbalancer is set
  ecs/aws.go
  ecs/awsResources.go
  ecs/aws_mock.go
  ecs/sdk.go
Labels: ecs

#1124 Support container_name in ACI and add network alias in dns sidecar.
  aci/convert/convert.go
  tests/compose-e2e/fixtures/volume-test/docker-compose.yml
  tests/composefiles/demo_multi_port.yaml
Labels: aci

#1126 We actually support volume labels and driver_opts
  local/compose/create.go
Labels: local

#1136 Compose unit test networks & volumes
  ecs/awsResources.go
  ecs/testdata/simple/simple-cloudformation-conversion.golden
  ecs/volumes.go
  go.mod
  go.sum
  local/compose/build.go
  local/compose/create.go
  local/compose/create_test.go
  tests/compose-e2e/compose_test.go
  tests/compose-e2e/fixtures/network-test/docker-compose.yaml
  tests/compose-e2e/fixtures/volume-test/docker-compose.yml
Labels: ecs, local

#1144 run "down" using project if it was set for command
  api/compose/api.go
  cli/cmd/compose/build.go
  cli/cmd/compose/compose.go
  cli/cmd/compose/convert.go
  cli/cmd/compose/down.go
  cli/cmd/compose/pull.go
  cli/cmd/compose/push.go
  cli/cmd/compose/up.go
  local/compose/down.go
Labels: api, cli, local

#1154 enable and configure stalebot
  .github/stale.yml
Labels: ci

#1143 Local: Volumes implementation - align with docker-compose
  local/compose/convergence.go
  local/compose/create.go
  local/compose/util.go
  tests/compose-e2e/compose_test.go
Labels: local

#1156 Introduce --env-file
  cli/cmd/compose/compose.go
  cli/cmd/compose/convert.go
  cli/cmd/compose/up.go
  go.mod
  go.sum
Labels: cli

#1165 Make `--file` and `--project-name` global compose options
  cli/cmd/compose/build.go
  cli/cmd/compose/compose.go
  cli/cmd/compose/convert.go
  cli/cmd/compose/down.go
  cli/cmd/compose/list.go
  cli/cmd/compose/logs.go
  cli/cmd/compose/ps.go
  cli/cmd/compose/pull.go
  cli/cmd/compose/push.go
  cli/cmd/compose/run.go
  cli/cmd/compose/up.go
  local/e2e/compose/compose_test.go
  local/e2e/compose/fixtures/build-test/compose.yml
  local/e2e/compose/fixtures/network-test/compose.yaml
  local/e2e/compose/fixtures/run-test/compose.yml
  local/e2e/compose/fixtures/sentences/compose.yaml
  local/e2e/compose/fixtures/simple-composefile/compose.yml
  local/e2e/compose/fixtures/volume-test/compose.yml
Labels: cli, local

#1157 Add Kubernetes backend
  Makefile
  api/context/store/contextmetadata.go
  api/context/store/store.go
  cli/cmd/context/create_kube.go
  go.mod
  go.sum
  kube/backend.go
  kube/charts/charts.go
  kube/charts/helm/chart.go
  kube/charts/helm/helm.go
  kube/charts/kubernetes/kube.go
  kube/charts/kubernetes/placement.go
  kube/charts/kubernetes/placement_test.go
  kube/charts/kubernetes/pod.go
  kube/charts/kubernetes/pod_test.go
  kube/charts/kubernetes/volumes.go
  kube/compose.go
  kube/context.go
Labels: api, cli

#1172 introduce `--filter` option on `compose ls`
  aci/compose.go
  api/client/compose.go
  api/compose/api.go
  cli/cmd/compose/list.go
  cli/server/proxy/compose.go
  ecs/aws.go
  ecs/aws_mock.go
  ecs/e2e/ecs/e2e-ecs_test.go
  ecs/list.go
  ecs/local/compose.go
  ecs/sdk.go
  local/compose/ls.go
Labels: aci, api, cli, ecs, local

#1177 Fixing Kube compile / lint errors
  cli/cmd/context/create_kube.go
  kube/charts/charts.go
  kube/charts/helm/chart.go
  kube/charts/helm/helm.go
  kube/charts/kubernetes/kube.go
  kube/charts/kubernetes/pod.go
  kube/charts/kubernetes/volumes.go
  kube/compose.go
Labels: cli

#1163 Stop project on Ctrl+C
  aci/compose.go
  api/client/compose.go
  api/compose/api.go
  api/progress/event.go
  cli/cmd/compose/up.go
  ecs/local/compose.go
  ecs/up.go
  local/compose/create.go
  local/compose/down.go
  local/compose/stop.go
Labels: aci, api, cli, ecs, local

#1175 Refactor kubernetes context create
  api/context/store/contextmetadata.go
  api/context/store/store.go
  cli/cmd/context/create_kube.go
  go.mod
  kube/charts/kubernetes/context.go
  kube/context.go
Labels: api, cli

#1179 CI build, lint & test kube backend.
  .github/workflows/ci.yml
  Makefile
  builder.Makefile
  kube/charts/kubernetes/context.go
  kube/charts/kubernetes/placement_test.go
  kube/charts/kubernetes/pod_test.go
  kube/compose.go
  kube/context.go
  local/compose/down.go
  local/compose/stop.go
Labels: ci, local

#1187 Better resolution for ACI flakyness on container stop/restart
  aci/e2e/e2e-aci_test.go
Labels: aci

#1185 Add defensive code
  local/compose/create.go
Labels: local

#1190 introduce --force-recreate and --no-recreate
  api/compose/api.go
  cli/cmd/compose/up.go
  local/compose/convergence.go
  local/compose/create.go
Labels: api, cli, local

#1180 Add start and stop commands
  aci/compose.go
  api/client/compose.go
  api/compose/api.go
  cli/cmd/compose/compose.go
  cli/cmd/compose/start.go
  cli/cmd/compose/stop.go
  cli/cmd/compose/up.go
  ecs/local/compose.go
  ecs/up.go
  kube/compose.go
  local/compose/down.go
  local/compose/stop.go
Labels: aci, api, cli, ecs, local

#1200 Fix compose start display
  cli/cmd/compose/start.go
  cli/cmd/compose/up.go
Labels: cli

#1188 introduce compose create command
  cli/cmd/compose/compose.go
  cli/cmd/compose/create.go
  cli/cmd/compose/up.go
Labels: cli

#1178 introduce compose logs --tail and --follow options
  api/compose/api.go
  cli/cmd/compose/compose.go
  cli/cmd/compose/logs.go
  ecs/aws.go
  ecs/aws_mock.go
  ecs/logs.go
  ecs/sdk.go
  local/compose/create.go
  local/compose/down.go
  local/compose/logs.go
  local/compose/stop.go
Labels: api, cli, ecs, local

#1203 Make progress event display homogeneous between up, down, start, stop
  local/compose/convergence.go
  local/compose/down.go
Labels: local
