Repository docker/compose-cli, pull requests merged in 2021-05, with the labels that each got.

#1625 use highest priority network to declare network aliasses
  go.mod
  go.sum
  local/compose/convergence.go
  local/compose/create.go
  local/e2e/compose/fixtures/network-alias/compose.yaml
  local/e2e/compose/networks_test.go
Labels: local

#1626 Display PATH when not finding com.docker.cli, to help debugging
  cli/mobycli/exec.go
Labels: cli

#1630 don't invoke r.Close on error as r == nil
  local/compose/logs.go
Labels: local

#1632 fix documentation errors
  docs/ecs-compose-examples.md
  docs/ecs-compose-features.md
Labels: documentation

#1627 Add support for services on ps command
  api/compose/api.go
  cli/cmd/compose/ps.go
  local/compose/ps.go
Labels: api, cli, local

#1633 configure service with ipAddress
  local/compose/convergence.go
Labels: local

#1641 fix detecting active profiles implied by selected services
  cli/cmd/compose/compose.go
Labels: cli

#1642 Fix building compose files with absolute build context / Dockerfile
  go.mod
  go.sum
  local/e2e/compose/compose_build_test.go
Labels: local

#1645 Use location specified by user if provided, and do not override with group location
  aci/context.go
  aci/context_test.go
  cli/cmd/context/create_aci.go
Labels: aci, cli

#1647 Avoid using for variable in go func, as this creates race conditions
  local/compose/convergence.go
Labels: local

#1648 apply single ulimit as soft+hard limit
  local/compose/create.go
Labels: local

#1649 compose ps list stopped containers. -a is used to include oneoff
  local/compose/ps.go
  local/compose/ps_test.go
Labels: local

#1623 Add cp command
  aci/compose.go
  api/client/compose.go
  api/compose/api.go
  api/compose/delegator.go
  api/compose/noimpl.go
  cli/cmd/compose/compose.go
  cli/cmd/compose/cp.go
  cli/metrics/commands.go
  ecs/local/compose.go
  ecs/up.go
  kube/compose.go
  local/compose/cp.go
  local/e2e/compose/cp_test.go
  local/e2e/compose/fixtures/cp-test/cp-folder/cp-me.txt
  local/e2e/compose/fixtures/cp-test/cp-me.txt
  local/e2e/compose/fixtures/cp-test/docker-compose.yml
Labels: aci, api, cli, ecs, kube, local, metrics

#1646 Update compose docs
  docs/reference/docker_compose.yaml
  docs/reference/docker_compose_build.yaml
  docs/reference/docker_compose_convert.yaml
  docs/reference/docker_compose_images.yaml
  docs/reference/docker_compose_port.yaml
  docs/reference/docker_compose_pull.yaml
  docs/reference/docker_compose_rm.yaml
Labels: documentation

#1628 Support bypass envvars
  api/compose/api.go
  api/compose/api_test.go
  local/compose/run.go
Labels: api, local

#1651 pass authprovider to buildkit session
  go.mod
  go.sum
  local/compose/build.go
Labels: local

#1657 support mulitple bindings for same target port
  local/compose/create.go
Labels: local

#1680 only start current project services
  cli/cmd/compose/up.go
  local/compose/attach.go
Labels: cli, local

#1676 named pipe need to be mounted using the bind API
  local/compose/create.go
Labels: local

#1675 ps shows healthcheck only for running container
  api/compose/api.go
  cli/cmd/compose/ps.go
  local/compose/ps.go
  local/compose/ps_test.go
Labels: api, cli, local

#1679 resolve build args on compose up --build
  local/compose/build.go
Labels: local

#1693 only (re)start selected services
  api/compose/api.go
  cli/cmd/compose/restart.go
  local/compose/restart.go
  local/compose/start.go
Labels: api, cli, local

#1688 introduce ServiceProxy for backend lazy initialization
  api/compose/delegator.go
  api/compose/noimpl.go
  api/compose/proxy.go
  cli/cmd/compose/up.go
  cli/main.go
  main.go
Labels: api, cli

#1689 Bump linter
  .golangci.yml
  Dockerfile
  aci/convert/convert.go
  aci/convert/convert_test.go
  aci/convert/ports.go
  aci/convert/registry_credentials.go
  aci/e2e/aci_secrets_resources/web/main.go
  aci/e2e/e2e-aci_test.go
  aci/login/login_test.go
  cli/cmd/compose/run.go
  cli/formatter/colors.go
  kube/client/client.go
  local/volumes.go
Labels: aci, cli, kube, local

#1691 validate and pre-process flags in PreRun
  cli/cmd/compose/build.go
  cli/cmd/compose/convert.go
  cli/cmd/compose/cp.go
  cli/cmd/compose/create.go
  cli/cmd/compose/down.go
  cli/cmd/compose/exec.go
  cli/cmd/compose/port.go
  cli/cmd/compose/pull.go
  cli/cmd/compose/run.go
  cli/cmd/compose/up.go
Labels: cli

#1682 define exec env by merging service env with command line --env
  local/compose/exec.go
Labels: local

#1696 support compose file set by COMPOSE_FILE env var
  cli/cmd/compose/compose.go
  go.mod
  go.sum
Labels: cli

#1673 Support Azure login page on WSL 1
  aci/login/helper.go
Labels: aci

#1704 Do not resolve mount linux abs path as windows path on windows
  local/compose/create.go
Labels: local

#1711 prevent race condition renaming containers
  local/compose/convergence.go
Labels: local

#1715 remove unresolved vars from env set by `exec`
  local/compose/exec.go
  local/e2e/compose/compose_exec_test.go
Labels: local

#1714 split compose-cli "docker" and composeV2 cli-plugin release processes
  .github/workflows/ci.yml
  .github/workflows/cli-release.yaml
  .github/workflows/plugin-release.yaml
  Dockerfile
  Makefile
  README.md
  builder.Makefile
  cli/cmd/compose/version.go
  internal/variables.go
  main.go
  scripts/install/install_linux.sh
  scripts/install/test.Dockerfile
Labels: ci, cli

#1707 refactor "start" to better handle container restart/new container added by --scale
  api/compose/api.go
  api/compose/printer.go
  cli/cmd/compose/up.go
  cli/cmd/compose/up_test.go
  local/compose/attach.go
  local/compose/down.go
  local/compose/start.go
  local/compose/stop_test.go
  local/e2e/compose/compose_test.go
  local/e2e/compose/fixtures/attach-restart/compose.yaml
  utils/hash.go
Labels: api, cli, local
