Repository docker/compose-cli, pull requests merged in 2022-07, with the labels that each got.

#2174 Go 1.18
  .github/workflows/aci-tests.yml
  .github/workflows/ci.yml
  .github/workflows/cli-release.yaml
  .github/workflows/ecs-tests.yml
  .github/workflows/kube-tests.yml
  .github/workflows/rebase.yml
  .github/workflows/windows-ci.yml
  Dockerfile
  aci/convert/secrets.go
  aci/convert/secrets_test.go
  aci/e2e/aci-demo/web/Dockerfile
  aci/e2e/aci_secrets_resources/web/Dockerfile
  aci/etchosts/Dockerfile
  aci/login/login.go
  cli/cmd/context/create_kube.go
  cli/metrics/conn_other.go
  cli/mobycli/exec_unix.go
  cli/mobycli/resolvepath/lp_unix.go
  cli/server/socket_unix.go
  cli/server/socket_windows.go
  ecs/resolv/Dockerfile
  ecs/secrets/Dockerfile
  go.mod
  go.sum
  kube/backend.go
  kube/client/client.go
  kube/client/client_test.go
  kube/client/utils.go
  kube/compose.go
  kube/context.go
  kube/context_test.go
  kube/helm/chart.go
  kube/helm/helm.go
  kube/resources/context.go
  kube/resources/kube.go
  kube/resources/kube_test.go
  kube/resources/placement.go
  kube/resources/placement_test.go
  kube/resources/pod.go
  kube/resources/pod_test.go
  kube/resources/secrets.go
  kube/resources/volumes.go
Labels: aci, api, cli, ecs, metrics, ci, kube

#2175 update gotest.tools to v3.3.0 which support golang 1.18
  cli/cmd/version_test.go
  cli/mobycli/pat_suggest_test.go
  go.mod
  go.sum
Labels: cli, dependencies, ci

#2177 Fall back to global CLI socket on Linux
  cli/metrics/conn_other.go
Labels: cli, metrics

#2178 cli binary path handling
  cli/mobycli/exec.go
  cli/mobycli/exec_test.go
Labels: cli

#2176 gofmt files with go 1.19
  aci/login/login.go
  kube/client/client.go
  kube/helm/chart.go
  kube/resources/kube.go
  utils/e2e/framework.go
Labels: aci, kube

#2151 build metrics compatibility for next 22.06
  cli/main.go
  cli/metrics/client.go
  cli/metrics/metadata/build.go
  cli/metrics/metadata/build_test.go
  cli/metrics/metadata/metadata.go
  cli/metrics/metrics.go
  cli/mobycli/exec.go
  cli/server/metrics_test.go
  go.mod
  go.sum
Labels: cli, metrics
